/* EminenceInShadow Preset */
:root {
    --var-background: url(https://github.com/Elisniper/Glass-Wave/blob/master/resources/Presets/EminenceInShadow.png?raw=true);
    --var-accent: #4a0810;
    --var-popout-color: rgb(12 7 17);

    /* Chat */
    --var-chat-bubbles-background: linear-gradient(90deg, rgb(8 7 14 / 50%) 0%, rgb(5 14 21 / 50%) 50%, rgb(5 16 15 / 50%) 100%);
    --var-chat-mentioned: rgb(51 33 16 / 80%);
}