/* River Preset */
:root {
    --var-background: url(https://github.com/Elisniper/Glass-Wave/blob/master/resources/Presets/Preset%20image%201.jpg?raw=true);
    --var-accent: #5c3929;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #B00020;
    --var-popout-color: rgb(14 14 13);

    /* Chat */
    --var-chat-bubbles-background: rgb(20 18 16);
    --var-chat-bubbles-edge-background: rgb(20 18 16);
    --var-chat-mentioned: rgb(62 50 24);
}