/* Space Preset */
:root {
    --var-background: url(https://github.com/Elisniper/Glass-Wave/blob/master/resources/Presets/Space.jpg?raw=true);
    --var-accent: #68141a;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #B00020;
    --var-popout-color: rgb(19 17 18);

    /* Chat */
    --var-chat-bubbles-background: rgb(69 9 15);
    --var-chat-bubbles-edge-background: rgb(69 9 15);
    --var-chat-mentioned: rgb(100 75 0);
}