/* Keyframes */
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
@keyframes add-friend {
    from {
        transform: translate(0, -8px); 
    } 
}
@keyframes swing-in-bottom {
    0% {
        transform: rotateX(100deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}
/*---------------------------------------------------------------------------------------*/

/* Context Menu START*/
.menu_dc52c6#guild-context, .menu_dc52c6#user-context, .menu_dc52c6#channel-context, .menu_dc52c6#message, .menu_dc52c6#guild-browse-channels-context-menu, 
.menu_dc52c6#message-actions {
    animation: opacity 50ms ease, context-new 240ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}

/* Add friend Animation */
.header__6113c {
    border-bottom: 0;
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}

/* User controls activity animation */
.panels__58331 .activityPanel__22355 {
    animation: swing-in-bottom 400ms ease-in-out both;
}
.container_d667ff {
    animation: swing-in-bottom 200ms ease-in-out both;
}