/* Keyframes */
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
@keyframes add-friend {
    from {
        transform: translate(0, -8px); 
    } 
}
@keyframes activity-anim {
    0% {
        transform: rotateX(100deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}
@keyframes profile-anim {
    0% {
        transform: scaleY(0);
        transform-origin: bottom;
    } 
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
}
@keyframes fadein-anim {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Context Menu START*/
.c1e9c47c23f12ca3-menu#guild-context, .c1e9c47c23f12ca3-menu#user-context, .c1e9c47c23f12ca3-menu#channel-context, .c1e9c47c23f12ca3-menu#message, .c1e9c47c23f12ca3-menu#guild-browse-channels-context-menu, 
.c1e9c47c23f12ca3-menu#message-actions {
    animation: opacity 50ms ease, context-new 240ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}

/* Add friend Animation */
._94b083577c5dbbb3-header {
    border-bottom: 0;
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}

/* User controls activity animation */
._5e434347c823b592-panels ._5e434347c823b592-activityPanel {
    animation: activity-anim 400ms ease-in-out both;
}
.e131a99484292a19-wrapper {
    animation: activity-anim 200ms ease-in-out both;
}

/* User Profile and conrols animation */
._37e49614b9f110a9-container ._37e49614b9f110a9-buttons {
    display: flex;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));
    justify-content: space-evenly;
}
._37e49614b9f110a9-container ._37e49614b9f110a9-avatarWrapper {
    width: 36px;
    min-width: 36px;
    transition: 200ms ease-in-out;
}
._37e49614b9f110a9-container ._37e49614b9f110a9-avatarWrapper:hover, ._37e49614b9f110a9-container ._37e49614b9f110a9-avatarWrapper[aria-expanded="true"] {
    min-width: 120px;
}

/* App directory & App Animation */
.theme-dark .directoryContainer_da3f59 {
    animation: fadein-anim 300ms ease-in-out both;
}
._160d8e55254637e5-app {
    animation: fadein-anim 400ms ease-in-out both;
}