/* Keyframes */
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
@keyframes add-friend {
    from {
        transform: translate(0, -8px); 
    } 
}
@keyframes activity-anim {
    0% {
        transform: rotateX(100deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}
@keyframes profile-anim {
    0% {
        transform: scaleY(0);
        transform-origin: bottom;
    } 
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
}
@keyframes fadein-anim {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Context Menu START*/
.menu__088f7#guild-context, .menu__088f7#user-context, .menu__088f7#channel-context, .menu__088f7#message, .menu__088f7#guild-browse-channels-context-menu, 
.menu__088f7#message-actions {
    animation: opacity 50ms ease, context-new 240ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}

/* Add friend Animation */
.header__6ddae {
    border-bottom: 0;
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}

/* User controls activity animation */
.panels__58331 .activityPanel_b73e7a {
    animation: activity-anim 400ms ease-in-out both;
}
.container_e1958d {
    animation: activity-anim 200ms ease-in-out both;
}

/* App directory & App Animation */
.theme-dark .directoryContainer__36395 {
    animation: fadein-anim 300ms ease-in-out both;
}
.app_de4237 {
    animation: fadein-anim 400ms ease-in-out both;
}