:root {
    --var-chat-bubbles-background: linear-gradient(90deg, rgb(24 44 43) 0%, rgb(11 35 40) 50%, rgb(5 30 38) 100%);
    --var-chat-mentioned: rgb(59 89 74);
}
/*Chat bubbles START */
.message_ccca67.cozyMessage__9f4fd.groupStart__7b93c {
    position: relative;
    background: transparent;
    border-bottom: none !important;
    overflow: visible !important;
    padding-right: 0 !important;
}
.message_ccca67.cozyMessage__9f4fd .contents_d3ae0d {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background: var(--var-chat-bubbles-background);
}
.recentMentionsPopout__40c54 .cozy_f5c119 .contents_d3ae0d, 
.messagesPopoutWrap__10dd1 .cozy_f5c119 .contents_d3ae0d,
.sidebarContianer__623bd .cozy_f5c119 .contents_d3ae0d {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background: var(--var-hover20);
}
.message_ccca67.cozyMessage__9f4fd .container__62863 {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
}
.message_ccca67.cozyMessage__9f4fd .container__62863:is(:not(:empty)) {
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
}
.message_ccca67.cozyMessage__9f4fd:has(.container__62863:not(:empty)) .contents_d3ae0d  {
    border-radius: 5px 5px 0 0;
}
.message_ccca67.systemMessage_fced96.groupStart__7b93c:after, .message_ccca67:not(.groupStart__7b93c):after {
    display: none;
}
.message_ccca67.systemMessage_fced96.groupStart__7b93c {
    border-radius: 5px;
}
.message_ccca67:has(.repliedMessage__636d2) .container__2f489 {
    top: 32px;
}
.repliedMessage__636d2 {
    height: 26px;
}
.message_ccca67.mentioned_fa6fd2 .contents_d3ae0d, .message_ccca67.mentioned_fa6fd2 .container__62863 {
    background: var(--var-chat-mentioned) !important;
}
.message_ccca67:not(.groupStart__7b93c), .theme-dark.message_ccca67.selected_e3bc5d, .theme-dark.mouse-mode.full-motion .message_ccca67:hover {
    background: transparent;
    overflow: visible;
    padding-right: 0 !important;
}
.mentioned_fa6fd2 .contents_d3ae0d:before, .ephemeral_eb5d84 .contents_d3ae0d:before, .automodMessage__43f24 .contents_d3ae0d:before, .replying__38514 .contents_d3ae0d:before, 
.highlighted_fc800f .contents_d3ae0d:before {
    content: "";
    position: absolute;
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    left: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 10px;
    background-color: var(--info-warning-foreground);
    z-index: 10;
}
.replying__38514:before {
    z-index: 20;
    background-color: var(--var-accent) !important;
    margin-bottom: 2px;
    margin-top: 2px;
    left: 0;
    bottom: 0;
    top: 0;
    width: 3px;
    border-radius: 10px;
    pointer-events: none;
    content: "";
    position: absolute;
    display: block;
}
.message_ccca67:not(.groupStart__7b93c):before {
    background-color: transparent;
}
.embedFull__14919 {
    border-left: 4px solid var(--var-black2);
}
.embedFull__14919 {
    background: var(--var-black2) !important;
}
.attachment__06ca3 {
    border-color: var(--var-black1) !important;
    background-color: var(--var-black1) !important;
}
.repliedMessage__636d2:before {
    border-color: var(--var-hover30);
}
.hljs {
    background: rgb(181 181 181 / 20%);
}
.markup_a7e664 code {
    background: var(--var-black1) !important;
}
.jumpToPresentBar__69174 {
    background-color: var(--var-accent);
    filter: drop-shadow(0px 0px 1px black);
    bottom: 40px;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    right: 25px;
    opacity: 1;
}
.jumpToPresentBar__69174 .barButtonMain__984b4 {
    display: none;
}
.textContainer__65f57, .footer__90194, .modalTextContainer_ce11a8 {
    background-color: var(--var-black1) !important;
    border: 1px solid var(--var-black1) !important;
}
.mentioned_fa6fd2.message_ccca67.groupStart__7b93c, .mentioned_fa6fd2:before {
    background: transparent;
}
.button_d4bf9b {
    height: 18px;
}
.button_d4bf9b.selected__74fee {
    color: #FFF;
    background-color: transparent;
}
.button_d4bf9b:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .wrapper__4e6b6:hover, .wrapper__4e6b6 {
    box-shadow: none;
}
.wrapper__4e6b6 {
    height: 26px;
}
.container__2f489 {
    padding: 0;
    top: 2px;
}
.messageContainer__3e208:has(.repliedMessage__636d2) .jumpButton__6c38c {
    top: 33px;
}
.messagesPopout__28784 .jumpButton__6c38c {
    margin-right: 2px;
}
.jumpButton__6c38c {
    background-color: var(--var-black1);
}
.button_d4bf9b:hover, .wrapper__4e6b6 {
    background-color: var(--var-popout-color);
    border-radius: 0 5px 5px 5px;
}
.container_eb737e .cozy_f5c119.wrapper_a62503:not(.groupStart__7b93c).message__15d84:after {
    border-right-color: transparent;
}
.theme-dark .scroller__9a4f3 {
    background: var(--var-black2);
}
.theme-dark .container_f8ef5d, .theme-dark .reactors__0f305 {
    background-color: var(--var-black1);
}
.button_d4bf9b.dangerous__8fbad {
    color: var(--var-notification);
}
.reactions__2ede2 {
    margin-top: 5px;
}
.reaction__4a43f {
    background: var(--var-popout-color);
}
.reaction__4a43f.reactionMe__0fffc {
    background-color: var(--var-accent);
    border-color: var(--var-accent);
}
.spoilerMarkdownContent__5c448 {
    background-color: var(--var-black2);
}
.cozy_f5c119.hasThread__44ae4:after {
    border-color: var(--var--black1);
}
.cozy_f5c119.hasThread__44ae4:after {
    border-color: var(--var-hover20);
}
/* Automod Messages */
.embedCard__2a3c7 {
    background-color: var(--var-black1);
}
.iconContainer__6910b {
    left: -76px;
    top: 0;
}
.automodMessage__43f24:before, .shieldIcon__46c03 {
    background-color: var(--var-notification);
}
.embedCard__2a3c7 .cozy_f5c119.wrapper_a62503 {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */

/* Popup veiw */
.message_ff43e6 .wrapper_a62503 .avatar__08316 {
    left: -50px;
    top: -2px;
}
.message_ff43e6 .wrapper_a62503 {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--var-hover25);
    border-bottom: none !important;
    overflow: visible !important;
}
.message_ff43e6 .cozy_f5c119.wrapper_a62503:after {
    border-right-color: var(--var-hover25);
}
.theme-dark .message_ff43e6 {
    background-color: transparent;
    box-shadow: none;
}
/* Threads bubbles */
.container__694a1 .message_ccca67.groupStart__7b93c, .container__694a1 .message_ccca67:not(.groupStart__7b93c) {
    filter: brightness(1.3);
}
/* MOD view */

.sidebarContianer__623bd .innerContainer__28ce6 li>div {
    background-color: transparent !important;
    box-shadow: none;
}
.sidebarContianer__623bd .button_ef08e7 {
    position: relative;
    top: 3px;
    right: 12px;
    margin-left: 0;
}
.sidebarContianer__623bd .container__532be:not(:has(.header_aacd9b[style*="background-color: rgba(43, 45, 49, 0.8);"])) .cozy_f5c119 .contents_d3ae0d {
    background-color: var(--var-hover100);
}