:root {
    --var-chat-bubbles-background: linear-gradient(135deg, rgb(24 44 43) 0%, rgb(11 35 40) 50%, rgb(5 30 38) 100%);
    --var-chat-bubbles-edge-background: rgb(24 44 43); 
    --var-chat-mentioned: rgb(59 89 74);
}
/*Chat bubbles START */
.message-2CShn3.groupStart-3Mlgv1 {
    position: relative;
    margin: 16px 5px 0 70px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.cozy-VmLDNB.wrapper-30-Nkg:after, .previewMessage-2g_aBv .message-2CShn3:not(.groupStart-3Mlgv1):before {
    content: '';
    position: absolute;
    width: 0 !important;
    height: 0;
    top: 0px !important;
    left: -6px !important;
    margin: -6px 0 0 0;
    border: 6px solid transparent;
    border-color: transparent;
    border-right-color: var(--var-chat-bubbles-edge-background);
    pointer-events: none;
    transform: rotate(135deg);
}
.message-2CShn3.systemMessage-1H1Z20.groupStart-3Mlgv1:after, .message-2CShn3:not(.groupStart-3Mlgv1):after {
    display: none;
}
.message-2CShn3.systemMessage-1H1Z20.groupStart-3Mlgv1 {
    border-radius: 5px;
}
.message-2CShn3.groupStart-3Mlgv1 .avatar-2e8lTP, .systemMessage-1H1Z20.message-2CShn3:not(.groupStart-3Mlgv1) .avatar-2e8lTP {
    top: 0px;
    left: -50px;
}
.avatarDecoration-34OC0G {
    left: -55px;
    top: 0;
}
.avatar-2e8lTP {
    top: 0px;
    left: 20px;
}
.preview-3k9WhO .avatar-2e8lTP {
    left: -55px;
}
.message-2CShn3:not(.groupStart-3Mlgv1).cozy-VmLDNB.wrapper-30-Nkg {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
}
.message-2CShn3:not(.groupStart-3Mlgv1).mentioned-Tre-dv {
    background: var(--var-chat-mentioned) !important;
}
.message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion .message-2CShn3:hover {
    background-color: var(--var-chat-bubbles-background);
}
.message-2CShn3:not(.groupStart-3Mlgv1) {
    margin: 0 5px 0 70px;
    background: var(--var-chat-bubbles-background);
    overflow: visible;
}
.message-2CShn3:not(.groupStart-3Mlgv1):before {
    position: absolute;
    content: " ";
    left: 0;
    pointer-events: none;
}
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    left: -65px;
}
.embedFull-1HGV2S {
    border-left: 4px solid var(--var-black2);
}
.embedFull-1HGV2S {
    background: var(--var-black2) !important;
}
.attachment-1PZZB2 {
    border-color: var(--var-black1) !important;
    background-color: var(--var-black1) !important;
}
.hljs {
    background: rgb(181 181 181 / 20%);
}
.markup-eYLPri code {
    background: var(--var-black1) !important;
}
.jumpToPresentBar-1cEnH0 {
    background-color: rgb(10 66 83);
    bottom: 8px;
}
.textContainer-36wgKK, .footer-GXWBBp, .modalTextContainer-1FUO2W {
    background-color: var(--var-black1) !important;
    border: 1px solid var(--var-black1) !important;
}
.mentioned-Tre-dv.message-2CShn3.groupStart-3Mlgv1 {
    background: var(--var-chat-mentioned) !important;
}
.button-3bklZh {
    height: 18px;
}
.button-3bklZh.selected-69H4ua {
    color: #FFF;
    background-color: transparent;
}
.button-3bklZh:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .wrapper-2vIMkT:hover, .wrapper-2vIMkT {
    box-shadow: none;
}
.wrapper-2vIMkT {
    height: 26px;
}
.container-2gUZhU {
    padding: 0;
    top: 0px;
}
.message-2CShn3:not(.groupStart-3Mlgv1) .buttons-3dF5Kd.container-2gUZhU {
    top: 0;
}
.button-3bklZh:hover, .wrapper-2vIMkT {
    background-color: rgb(10 20 20);
    border-radius: 0;
}
.recentMentionsPopout-2bI1ZN .cozy-VmLDNB.wrapper-30-Nkg, .messagesPopoutWrap-3zryHW .cozy-VmLDNB.wrapper-30-Nkg {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: rgb(181 181 181 / 20%);
    border-bottom: none !important;
    overflow: visible !important;
}
.recentMentionsPopout-2bI1ZN .cozy-VmLDNB.wrapper-30-Nkg:not(.groupStart-3Mlgv1) {
    margin: 0 0 0 60px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.container-2ebMPP .cozy-VmLDNB.wrapper-30-Nkg:not(.groupStart-3Mlgv1).message-372Ods:after {
    border-right-color: transparent;
}
.recentMentionsPopout-2bI1ZN .cozy-VmLDNB.wrapper-30-Nkg:after, .messagesPopoutWrap-3zryHW .cozy-VmLDNB.wrapper-30-Nkg:after {
    border-right-color: rgb(181 181 181 / 20%);
}
.recentMentionsPopout-2bI1ZN .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP, .messagesPopoutWrap-3zryHW .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP {
    left: -55px;
}
.theme-dark .scroller-2GkvCq {
    background: var(--var-black2);
}
.theme-dark .container-KM8BU6, .theme-dark .reactors-1VXca7 {
    background-color: var(--var-black1);
}
.button-3bklZh.dangerous-Y36ifs {
    color: var(--var-notification);
}
.reactions-3ryImn {
    margin-top: 5px;
}
/* Automod Messages */
.embedCard-bDyD5S {
    background-color: var(--var-black2);
}
.iconContainer-3WHKMP {
    left: -76px;
    top: 0;
}
.automodMessage-265YwJ:before, .shieldIcon-2QHlhC {
    background-color: var(--var-notification);
}
.embedCard-bDyD5S .cozy-VmLDNB.wrapper-30-Nkg {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--var-black1);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */


/* Compact view */
.compact-2Nkcau.wrapper-30-Nkg {
    padding-left: 15px;
}
.message-2CShn3:not(.groupStart-3Mlgv1).compact-2Nkcau .timestamp-p1Df1m, .message-2CShn3.groupStart-3Mlgv1.compact-2Nkcau .timestamp-p1Df1m {
    position: relative;
    left: -5px;
}
.compact-2Nkcau.message-2CShn3.groupStart-3Mlgv1 {
    padding: 8px 14px;
}
/* Popup veiw */
.message-G6O-Wv .wrapper-30-Nkg .avatar-2e8lTP {
    left: -50px;
    top: -2px;
}
.message-G6O-Wv .wrapper-30-Nkg {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: rgb(40 40 40 / 80%);
    border-bottom: none !important;
    overflow: visible !important;
}
.message-G6O-Wv .cozy-VmLDNB.wrapper-30-Nkg:after {
    border-right-color: rgb(40 40 40 / 80%);
}
.theme-dark .message-G6O-Wv {
    background-color: transparent;
    box-shadow: none;
}
/* Threads bubbles */
.container-3XgAHv .message-2CShn3.groupStart-3Mlgv1, .container-3XgAHv .message-2CShn3:not(.groupStart-3Mlgv1) {
    filter: brightness(1.3);
}