:root {
    --var-chat-bubbles-background: linear-gradient(90deg, rgb(24 44 43) 0%, rgb(11 35 40) 50%, rgb(5 30 38) 100%);
    --var-chat-mentioned: rgb(59 89 74);
}
/*Chat bubbles START */
.theme-dark.visual-refresh ._5126c0cd07f243a0-message._5126c0cd07f243a0-cozyMessage._5126c0cd07f243a0-groupStart {
    position: relative;
    background: transparent;
    border-bottom: none !important;
    overflow: visible !important;
    padding-right: 0 !important;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-cozyMessage .c19a557985eb7793-contents {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 10px;
    border-radius: 5px;
    background: var(--var-chat-bubbles-background);
}
._957962c2bd49881b-recentMentionsPopout .c19a557985eb7793-cozy .c19a557985eb7793-contents, 
.e8b59c4b335dd2fc-messagesPopoutWrap .c19a557985eb7793-cozy .c19a557985eb7793-contents,
._656be05658eed04d-sidebarContainer .c19a557985eb7793-cozy .c19a557985eb7793-contents {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background: var(--var-hover20);
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-cozyMessage .b7e1cb0370c2dd0e-container {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-cozyMessage .b7e1cb0370c2dd0e-container:is(:not(:empty)) {
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-cozyMessage:has(.b7e1cb0370c2dd0e-container:not(:empty)) .c19a557985eb7793-contents  {
    border-radius: 5px 5px 0 0;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-systemMessage._5126c0cd07f243a0-groupStart:after, ._5126c0cd07f243a0-message:not(._5126c0cd07f243a0-groupStart):after {
    display: none;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-systemMessage._5126c0cd07f243a0-groupStart {
    border-radius: 5px;
}
._5126c0cd07f243a0-message:has(.c19a557985eb7793-repliedMessage) ._040f07d21e1fb0d6-container {
    top: 32px;
}
.c19a557985eb7793-repliedMessage {
    height: 26px;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned .c19a557985eb7793-contents, ._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned .b7e1cb0370c2dd0e-container {
    background: var(--var-chat-mentioned) !important;
}
.theme-dark.visual-refresh ._5126c0cd07f243a0-message:not(._5126c0cd07f243a0-groupStart), .theme-dark._5126c0cd07f243a0-message._5126c0cd07f243a0-selected, .theme-dark.visual-refresh.mouse-mode.full-motion ._5126c0cd07f243a0-message:hover {
    background: transparent;
    overflow: visible;
    padding-right: 0 !important;
}
._5126c0cd07f243a0-mentioned .c19a557985eb7793-contents:before, ._5126c0cd07f243a0-ephemeral .c19a557985eb7793-contents:before, ._5126c0cd07f243a0-automodMessage .c19a557985eb7793-contents:before, ._5126c0cd07f243a0-replying .c19a557985eb7793-contents:before, 
.highlighted_fc800f .c19a557985eb7793-contents:before {
    content: "";
    position: absolute;
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    left: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 10px;
    background-color: var(--info-warning-foreground);
    z-index: 10;
}
._5126c0cd07f243a0-replying:before {
    z-index: 20;
    background-color: var(--var-accent) !important;
    margin-bottom: 2px;
    margin-top: 2px;
    left: 0;
    bottom: 0;
    top: 0;
    width: 3px;
    border-radius: 10px;
    pointer-events: none;
    content: "";
    position: absolute;
    display: block;
}
._5126c0cd07f243a0-message:not(._5126c0cd07f243a0-groupStart):before {
    background-color: transparent;
}
._623de82e76ad7f82-embedFull {
    border-left: 4px solid var(--var-black2);
}
._623de82e76ad7f82-embedFull {
    background: var(--var-black2) !important;
}
._0ccaee68b77c7469-fileWrapper {
    border-color: var(--var-black1) !important;
    background-color: var(--var-black1) !important;
}
.c19a557985eb7793-repliedMessage:before, .c19a557985eb7793-repliedMessageClickableSpine {
    border-color: var(--var-hover30);
}
.hljs {
    background: rgb(181 181 181 / 20%);
}
._752971923a1e6683-markup code {
    background: var(--var-black1) !important;
}
.visual-refresh ._0f481cbbd7530492-jumpToPresentBar {
    background-color: var(--var-accent);
    filter: drop-shadow(0px 0px 1px black);
    border-radius: 10px;
    width: fit-content;
}
._4d95d73152192cf9-textContainer, ._4d95d73152192cf9-footer, ._4d95d73152192cf9-modalTextContainer {
    background-color: var(--var-black1) !important;
    border: 1px solid var(--var-black1) !important;
}
._5126c0cd07f243a0-mentioned._5126c0cd07f243a0-message._5126c0cd07f243a0-groupStart, ._5126c0cd07f243a0-mentioned:before {
    background: transparent;
}
.f7ecaca5c80dbf3a-button.f7ecaca5c80dbf3a-selected {
    color: #FFF;
    background-color: transparent;
}
.f7ecaca5c80dbf3a-button:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .f7ecaca5c80dbf3a-wrapper:hover, .f7ecaca5c80dbf3a-wrapper {
    box-shadow: none;
    border: none;
}
.f7ecaca5c80dbf3a-wrapper {
    height: 28px;
    padding: 0;
    margin: 0;
    border: none;
}
._040f07d21e1fb0d6-container, ._040f07d21e1fb0d6-isHeader:not(._040f07d21e1fb0d6-isReply) {
    padding: 0;
    top: 2px;
}
._1ccd1ba5cb2270c2-messageContainer:has(.c19a557985eb7793-repliedMessage) .ed0c8cb44ff95773-jumpButton {
    top: 33px;
}
.e8b59c4b335dd2fc-messagesPopout .ed0c8cb44ff95773-jumpButton {
    margin-right: 2px;
}
.ed0c8cb44ff95773-jumpButton {
    background-color: var(--var-black1);
}
.f7ecaca5c80dbf3a-button:hover, .visual-refresh .f7ecaca5c80dbf3a-wrapper {
    background-color: var(--var-popout-color);
    border-radius: 0 5px 5px 5px;
    background-clip: content-box;
}
.f84418acfdbdfe54-hoverBarButton:hover .f84418acfdbdfe54-icon {
    transform: none;
}
.container__2692d .c19a557985eb7793-cozy.c19a557985eb7793-wrapper:not(._5126c0cd07f243a0-groupStart)._1ccd1ba5cb2270c2-message:after {
    border-right-color: transparent;
}
.theme-dark .b7f4b43fe1b6e285-scroller {
    background: var(--var-black2);
}
.theme-dark .b7f4b43fe1b6e285-container, .theme-dark .b7f4b43fe1b6e285-reactors {
    background-color: var(--var-black1);
}
.f7ecaca5c80dbf3a-button.f7ecaca5c80dbf3a-dangerous {
    color: var(--var-notification);
}
.f8896c4f6be18f59-reactions {
    margin-top: 5px;
}
._23977d5b7cef7361-reaction {
    background: var(--var-popout-color);
}
._23977d5b7cef7361-reaction:hover {
    background-color: var(--var-hover20);
}
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe {
    background-color: var(--var-accent);
    border-color: var(--var-accent);
}
._299eb87491f4b6d1-spoilerMarkdownContent {
    background-color: var(--var-black2);
}
.c19a557985eb7793-cozy.c19a557985eb7793-hasThread:after {
    border-color: var(--var--black1);
}
.c19a557985eb7793-cozy.c19a557985eb7793-hasThread:after {
    border-color: var(--var-hover20);
}
/* Automod Messages */
._44c9ad8d149f0821-embedCard {
    background-color: var(--var-black1);
}
._444920e965051ae6-iconContainer {
    left: -76px;
    top: 0;
}
._5126c0cd07f243a0-automodMessage:before, .b7ab2c55125e524d-shieldIcon {
    background-color: var(--var-notification);
}
._44c9ad8d149f0821-embedCard .c19a557985eb7793-cozy.c19a557985eb7793-wrapper {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */

/* Popup veiw */
.fd14e024a43b9049-message .c19a557985eb7793-wrapper .c19a557985eb7793-avatar {
    left: -50px;
    top: -2px;
}
.fd14e024a43b9049-message .c19a557985eb7793-wrapper {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--var-hover25);
    border-bottom: none !important;
    overflow: visible !important;
}
.fd14e024a43b9049-message .c19a557985eb7793-cozy.c19a557985eb7793-wrapper:after {
    border-right-color: var(--var-hover25);
}
.theme-dark .fd14e024a43b9049-message {
    background-color: transparent;
    box-shadow: none;
}
/* Threads bubbles */
._01ae244280823725-container ._5126c0cd07f243a0-message._5126c0cd07f243a0-groupStart, ._01ae244280823725-container ._5126c0cd07f243a0-message:not(._5126c0cd07f243a0-groupStart) {
    filter: brightness(1.3);
}
/* MOD view */

._656be05658eed04d-sidebarContainer ._39de88ad2da422c2-innerContainer li>div {
    background-color: transparent !important;
    box-shadow: none;
}
._656be05658eed04d-sidebarContainer ._02a39cb2980ceaaf-button {
    position: relative;
    top: 3px;
    right: 12px;
    margin-left: 0;
}