:root {
    --var-chat-bubbles-background: linear-gradient(90deg, rgb(24 44 43) 0%, rgb(11 35 40) 50%, rgb(5 30 38) 100%);
    --var-chat-mentioned: rgb(59 89 74);
}
/*Chat bubbles START */
.message_d5deea.cozyMessage_d5deea.groupStart_d5deea {
    position: relative;
    background: transparent;
    border-bottom: none !important;
    overflow: visible !important;
    padding-right: 0 !important;
}
.message_d5deea.cozyMessage_d5deea .contents_f9f2ca {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background: var(--var-chat-bubbles-background);
}
.recentMentionsPopout_ddb5b4 .cozy_f9f2ca .contents_f9f2ca, 
.messagesPopoutWrap_ac90a2 .cozy_f9f2ca .contents_f9f2ca,
.sidebarContianer_d2194f .cozy_f9f2ca .contents_f9f2ca {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background: var(--var-hover20);
}
.message_d5deea.cozyMessage_d5deea .container_b558d0 {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
}
.message_d5deea.cozyMessage_d5deea .container_b558d0:is(:not(:empty)) {
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
}
.message_d5deea.cozyMessage_d5deea:has(.container_b558d0:not(:empty)) .contents_f9f2ca  {
    border-radius: 5px 5px 0 0;
}
.message_d5deea.systemMessage_d5deea.groupStart_d5deea:after, .message_d5deea:not(.groupStart_d5deea):after {
    display: none;
}
.message_d5deea.systemMessage_d5deea.groupStart_d5deea {
    border-radius: 5px;
}
.message_d5deea:has(.repliedMessage_f9f2ca) .container_a3b500 {
    top: 32px;
}
.repliedMessage_f9f2ca {
    height: 26px;
}
.message_d5deea.mentioned_d5deea .contents_f9f2ca, .message_d5deea.mentioned_d5deea .container_b558d0 {
    background: var(--var-chat-mentioned) !important;
}
.message_d5deea:not(.groupStart_d5deea), .theme-dark.message_d5deea.selected_d5deea, .theme-dark.mouse-mode.full-motion .message_d5deea:hover {
    background: transparent;
    overflow: visible;
    padding-right: 0 !important;
}
.mentioned_d5deea .contents_f9f2ca:before, .ephemeral_d5deea .contents_f9f2ca:before, .automodMessage_d5deea .contents_f9f2ca:before, .replying_d5deea .contents_f9f2ca:before, 
.highlighted_fc800f .contents_f9f2ca:before {
    content: "";
    position: absolute;
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    left: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 10px;
    background-color: var(--info-warning-foreground);
    z-index: 10;
}
.replying_d5deea:before {
    z-index: 20;
    background-color: var(--var-accent) !important;
    margin-bottom: 2px;
    margin-top: 2px;
    left: 0;
    bottom: 0;
    top: 0;
    width: 3px;
    border-radius: 10px;
    pointer-events: none;
    content: "";
    position: absolute;
    display: block;
}
.message_d5deea:not(.groupStart_d5deea):before {
    background-color: transparent;
}
.embedFull_ad0b71 {
    border-left: 4px solid var(--var-black2);
}
.embedFull_ad0b71 {
    background: var(--var-black2) !important;
}
.attachment_a4623d {
    border-color: var(--var-black1) !important;
    background-color: var(--var-black1) !important;
}
.repliedMessage_f9f2ca:before {
    border-color: var(--var-hover30);
}
.hljs {
    background: rgb(181 181 181 / 20%);
}
.markup_f8f345 code {
    background: var(--var-black1) !important;
}
.jumpToPresentBar_cf58b5 {
    background-color: var(--var-accent);
    filter: drop-shadow(0px 0px 1px black);
    bottom: 40px;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    right: 25px;
    opacity: 1;
}
.jumpToPresentBar_cf58b5 .barButtonMain_cf58b5 {
    display: none;
}
.textContainer_ad9cbd, .footer_ad9cbd, .modalTextContainer_ad9cbd {
    background-color: var(--var-black1) !important;
    border: 1px solid var(--var-black1) !important;
}
.mentioned_d5deea.message_d5deea.groupStart_d5deea, .mentioned_d5deea:before {
    background: transparent;
}
.button_ef319f {
    height: 18px;
}
.button_ef319f.selected_ef319f {
    color: #FFF;
    background-color: transparent;
}
.button_ef319f:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .wrapper_ef319f:hover, .wrapper_ef319f {
    box-shadow: none;
}
.wrapper_ef319f {
    height: 26px;
}
.container_a3b500 {
    padding: 0;
    top: 2px;
}
.messageContainer_c06487:has(.repliedMessage_f9f2ca) .jumpButton_ac3dc2 {
    top: 33px;
}
.messagesPopout_ac90a2 .jumpButton_ac3dc2 {
    margin-right: 2px;
}
.jumpButton_ac3dc2 {
    background-color: var(--var-black1);
}
.button_ef319f:hover, .wrapper_ef319f {
    background-color: var(--var-popout-color);
    border-radius: 0 5px 5px 5px;
}
.container_f1c3d9 .cozy_f9f2ca.wrapper_f9f2ca:not(.groupStart_d5deea).message_c06487:after {
    border-right-color: transparent;
}
.theme-dark .scroller_f2bfbb {
    background: var(--var-black2);
}
.theme-dark .container_f2bfbb, .theme-dark .reactors_f2bfbb {
    background-color: var(--var-black1);
}
.button_ef319f.dangerous_ef319f {
    color: var(--var-notification);
}
.reactions_f61c73 {
    margin-top: 5px;
}
.reaction_ec6b19 {
    background: var(--var-popout-color);
}
.reaction_ec6b19.reactionMe_ec6b19 {
    background-color: var(--var-accent);
    border-color: var(--var-accent);
}
.spoilerMarkdownContent_a3d0f7 {
    background-color: var(--var-black2);
}
.cozy_f9f2ca.hasThread_f9f2ca:after {
    border-color: var(--var--black1);
}
.cozy_f9f2ca.hasThread_f9f2ca:after {
    border-color: var(--var-hover20);
}
/* Automod Messages */
.embedCard_c6cefd {
    background-color: var(--var-black1);
}
.iconContainer_bf4197 {
    left: -76px;
    top: 0;
}
.automodMessage_d5deea:before, .shieldIcon_e8366c {
    background-color: var(--var-notification);
}
.embedCard_c6cefd .cozy_f9f2ca.wrapper_f9f2ca {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background: var(--var-chat-bubbles-background);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */

/* Popup veiw */
.message_ddcc45 .wrapper_f9f2ca .avatar_f9f2ca {
    left: -50px;
    top: -2px;
}
.message_ddcc45 .wrapper_f9f2ca {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--var-hover25);
    border-bottom: none !important;
    overflow: visible !important;
}
.message_ddcc45 .cozy_f9f2ca.wrapper_f9f2ca:after {
    border-right-color: var(--var-hover25);
}
.theme-dark .message_ddcc45 {
    background-color: transparent;
    box-shadow: none;
}
/* Threads bubbles */
.container_d1c246 .message_d5deea.groupStart_d5deea, .container_d1c246 .message_d5deea:not(.groupStart_d5deea) {
    filter: brightness(1.3);
}
/* MOD view */

.sidebarContianer_d2194f .innerContainer_f328ee li>div {
    background-color: transparent !important;
    box-shadow: none;
}
.sidebarContianer_d2194f .button_ddc613 {
    position: relative;
    top: 3px;
    right: 12px;
    margin-left: 0;
}
.sidebarContianer_d2194f .container_f51af4:not(:has(.header_f51af4[style*="background-color: rgba(43, 45, 49, 0.8);"])) .cozy_f9f2ca .contents_f9f2ca {
    background-color: var(--var-hover100);
}