.customEmojiPlaceholder-35gKOP {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRo%0D%0APSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAg%0D%0AMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2%0D%0ALjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIg%0D%0AMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0z%0D%0ALjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQg%0D%0AOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5%0D%0ALjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0%0D%0ALjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3Zn%0D%0APg==) !important;
    background-position: 50% !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
}
.submenu-1apzyU, .submenu-1apzyU .scroller-1bVxF5 {
    background: rgb(40 40 40) !important;
}
.accountProfilePopoutWrapper-3GskID .scroller-1bVxF5, .menu-1QACrS[aria-label="Set Status"] {
    background: transparent;
    box-shadow: none !important;
}
.accountProfilePopoutWrapper-3GskID .menu-1QACrS {
    background: transparent;
}
.accountProfilePopoutWrapper-3GskID .userPopoutOuter-3AVBmJ.userProfileOuter-1K_BYU.userProfileOuterUnthemed-2b2rsv.profileColors-3Y0XaR.theme-dark {
    position: relative;
    width: 240px;
    left: 22px;
    background: transparent;
    box-shadow: none;
}
.accountProfilePopoutWrapper-3GskID .userPopoutOuter-3AVBmJ.userProfileOuter-1K_BYU.userProfileOuterThemed-3EfHmv.profileColors-3Y0XaR.theme-dark {
    position: relative;
    width: 232px;
    left: 22px;
    box-shadow: none;
}
.accountProfilePopoutWrapper-3GskID .userPopoutInner-1hXSeY.userProfileInner-3F03PX.userProfileInnerUnthemed-1XxIZu.userProfileInnerWithBanner-3CJ1Og, .accountProfilePopoutWrapper-3GskID .userProfileInnerNonPremium-1XjSjn, .accountProfilePopoutWrapper-3GskID .userProfileInnerPremiumWithoutBanner-37uB4Q {
    background: var(--mbd-black4);
}
.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda.overlayBackground-1KgwVi {
    background: transparent;
}
.accountProfilePopoutWrapper-3GskID .pencilContainer-11Kuga {
    right: 33%;
}