.customEmojiPlaceholder_c69536 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRo%0D%0APSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAg%0D%0AMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2%0D%0ALjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIg%0D%0AMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0z%0D%0ALjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQg%0D%0AOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5%0D%0ALjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0%0D%0ALjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3Zn%0D%0APg==) !important;
    background-position: 50% !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
}
.submenu-1apzyU, .submenu-1apzyU .scroller-1bVxF5 {
    background: rgb(40 40 40) !important;
}
.accountProfilePopoutWrapper_b2ca13 .scroller-1bVxF5, .menu_d90b3d[aria-label="Set Status"] {
    background: transparent;
    box-shadow: none !important;
}
.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b {
    position: relative;
    width: 240px;
    left: 22px;
    bottom: -13px;
    background: transparent;
    box-shadow: none;
}
.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b.userProfileOuterThemed_c69a7b {
    position: relative;
    width: 232px;
    left: 22px;
    box-shadow: none;
    top: 10px;
    border-radius: 10px 10px 0 0;
}
.accountProfilePopoutWrapper_b2ca13 .pencilContainer_c3e427 {
    right: 33%;
}
.accountProfilePopoutWrapper_b2ca13 .bannerSVGWrapper_b32cc2 .popoutBanner_c3e427 {
    width: 240px;
}
.userProfileInnerThemedNonPremium_c69a7b .overlayBackground_c69a7b {
    background-color: var(--var-black2);
}
.userProfileInnerThemedNonPremium_c69a7b .menu_ad5fac {
    background-color: transparent;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Start of Custom Animated User profile popout */
.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b.theme-dark .userPopoutInner_c69a7b {
    background: none;
}
/* Fade in animation */
.fade_f88ae3.didRender_f88ae3:has(.accountProfilePopoutWrapper_b2ca13) {
    transition: opacity 80ms ease-out 290ms;
    opacity: 1;
    position: relative;
    z-index: 0;
}
/* Custom User profile popout background */
.container_b2ca13:has(.avatarWrapper_b2ca13[aria-expanded=true])::before {
    content: "";
    position: absolute;
    bottom: 49px;
    left: 0;
    width: 240px;
    height: 383px;
    border-radius: 10px 10px 0 0;
    background: var(--var-popout-color);
    animation: profile-anim 300ms ease;
    z-index: 5;
}

/* Outer Unthemed & Custom status (No emoji only long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 399px !important;
}
/* Outer Unthemed & Custom status (Only emoji) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiOnly_d0a252) .container_b2ca13::before {
    height: 391px !important;
}
/* Outer Unthemed & Custom status (With emoji and long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 397.703px !important;
}

/* Outer Unthemed Custom status (No emoji only long text) & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 448px !important;
}
/* Outer Unthemed, Custom status (Only emoji) & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiOnly_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 440px !important;
}
/* Outer Unthemed, Custom status (With emoji and long text) & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 446.703px !important;
}

/* Outer Unthemed & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 432px !important;
}


/* Outer themed */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b) .container_b2ca13::before {
    height: 409px !important;
}
/* Outer themed & Custom status (No emoji only long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 425px !important;
}
/* Outer themed & Custom status (Only emoji) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiOnly_d0a252) .container_b2ca13::before {
    height: 417px !important;
}
/* Outer themed & Custom status (With emoji and long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 407.703px !important;
}

/* Outer themed, Custom status (No emoji only long text) & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 474px !important;
}
/* Outer themed, Custom status (Only emoji) & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiOnly_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before { 
    height: 466px !important;
}
/* Outer themed, Custom status (With emoji and long text) & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before { 
    height: 472.703x !important;
}

/* Outer themed & Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 458px !important;
}

/* Change user control panel background to match user profile popout */
.container_b2ca13:has(.avatarWrapper_b2ca13[aria-expanded=true]) {
    border-radius: 0 0 10px 10px;
    background: var(--var-popout-color);
}
/* End of Custom Animated User profile popout */


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Ajust height for user profile background when game activity is active*/

/* Outer Unthemed & has Active playing game */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 479px !important;
}
/* Outer Unthemed, has Active playing game & active custom status (No emoji only long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 495px !important;
}
/* Outer Unthemed, has Active playing game & active custom status (Only emoji) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiOnly_d0a252):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 487px !important;
}
/* Outer Unthemed, has Active playing game & active custom status (With emoji and long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 493.703px !important;
}

/* Outer Unthemed, has Active playing game & active custom status (No emoji only long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 558px !important;
}
/* Outer Unthemed, has Active playing game & active custom status (Only emoji) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiOnly_d0a252):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 536px !important;
}
/* Outer Unthemed, has Active playing game & active custom status (With emoji and long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 542.703px !important;
}
/* Outer Unthemed, has Active playing game with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]):has(.userProfileOuterUnthemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 528px !important;
}


/* Outer themed & has Active playing game */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 505px !important;
} 
/* Outer themed, has Active playing game & active custom status (No emoji only long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 521px !important;
}
/* Outer themed, has Active playing game & active custom status (Only emoji) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiOnly_d0a252):has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 531px !important;
}
/* Outer themed, has Active playing game & active custom status (With emoji and long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b) .container_b2ca13::before {
    height: 519.703px !important;
}

/* Outer themed, has Active playing game & active custom status (No emoji only long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 584px !important;
}
/* Outer themed, has Active playing game & active custom status (Only emoji) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiOnly_d0a252):has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 562px !important;
}
/* Outer themed, has Active playing game & active custom status (With emoji and long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 568.703px !important;
}

/* Outer themed, has Active playing game with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b .gameIcon_d5089b):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 554px !important;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Ajust height for user profile background and ajust button padding when spotify activity is active  */

/* Outer Unthemed & has Active spotify activity */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]) .container_b2ca13::before {
    height: 531px !important;
}
/* Outer Unthemed, has Active spotify activity & active custom status (No emoji only long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 547px !important;
}
/* Outer Unthemed, has Active spotify activity & active custom status (Only emoji) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterUnthemed_c69a7b .statusEmojiOnly_d0a252) .container_b2ca13::before {
    height: 535px !important;
}
/* Outer Unthemed, has Active spotify activity & active custom status (With emoji and long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterUnthemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 545.703px !important;
}



/* Outer Unthemed, has Active spotify activity & active custom status (No emoji only long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 596px !important;
}
/* Outer Unthemed, has Active spotify activity & active custom status (Only emoji) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterUnthemed_c69a7b .statusEmojiOnly_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 588px !important;
}
/* Outer Unthemed, has Active spotify activity & active custom status (With emoji and long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterUnthemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterUnthemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 594.703px !important;
}

/* Outer Unthemed, has Active spotify activity with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterUnthemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 580px !important;
}


/* Outer themed & has Active spotify activity */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]) .container_b2ca13::before {
    height: 557px !important;
}
/* Outer themed, has Active spotify activity & active custom status (No emoji only long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 573px !important;
}
/* Outer themed, has Active spotify activity & active custom status (Only emoji) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterThemed_c69a7b .statusEmojiOnly_d0a252) .container_b2ca13::before {
    height: 561px !important;
}
/* Outer themed, has Active spotify activity & active custom status (With emoji and long text) */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterThemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252) .container_b2ca13::before {
    height: 571.703px !important;
}

/* Outer themed, has Active spotify activity & active custom status (No emoji only long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 622px !important;
}
/* Outer themed, has Active spotify activity & active custom status (Only emoji) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterThemed_c69a7b .statusEmojiOnly_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 614px !important;
}
/* Outer themed, has Active spotify activity & active custom status (With emoji and long text) with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.userProfileOuterThemed_c69a7b .statusEmojiInline_d0a252):has(.userProfileOuterThemed_c69a7b .statusBubbleShape_d0a252):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 620.703px !important;
}

/* Outer themed, has Active playing game with Developer mode activated */
.notAppAsidePanel_bd26cc:has(.userProfileOuterThemed_c69a7b img[src*="/assets/6daf7db5db0d4a895afa.svg"]):has(.icon_d90b3d path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"]) .container_b2ca13::before {
    height: 606px !important;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.overlayBackground_c69a7b .button_da7790 {
    padding: 0;
}
.menus_d4e7c2 {
    gap: 0;
}
/* Set max height for Spotify song info */
.theme-dark .activityBiteSizePopout_d5089b .content_d5089b {
    max-height: 53px;
    display: flex;
    justify-content: flex-start;
}

/* Set custom status display max width */
.statusBubbleOuter_d0a252 {
    max-width: 120px;
}
.statusText_d0a252 {
    text-overflow: ellipsis;
    overflow: hidden;
}