/** 
 * @name Glass Wave
 * @version 1.2
 * @author Elisniper
 * @source https://github.com/Elisniper/Glass-Wave
 * @description Discord Glass Wave Theme.
 * @website https://xbased.net
*/

/* Discord Theme import */
@import url(https://elisniper.github.io/Glass-Wave/release/import.css);