@import url(https://elisniper.github.io/Glass-Wave/Addons/StatusPicker.css);
@import url(https://elisniper.github.io/Glass-Wave/Addons/ChatBubbles.css);
@import url(https://elisniper.github.io/Glass-Wave/Addons/Icons.css);


:root {
    --var-background: linear-gradient(138deg, rgba(162,247,220,1) 0%, rgba(18,145,187,1) 80%, rgba(35,108,179,1) 100%);;
    --var-accent: #103567;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #B00020;
}
/* Theme info and version */
.info-3pQQBb:after {
    content: "Glass Wave Theme 1.0";
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted);
}
/* Theme Developer sign */
.avatar-2e8lTP[src*="253480609224065025"]+::after {
    content: 'Theme Developer';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-shadow: none;
    color: crimson;
    position: absolute;
    margin: 0 8px;
    padding: 2px 4px;
    transform: translateY(20%);
}
/* Transparent Backgrounds */
.layer-86YKbF .wrapper-1_HaEi, .layer-86YKbF .container-1eFtFS, .layer-86YKbF .standardSidebarView-E9Pc3j, .appMount-2yBXZl .layers-OrUESM, .appMount-2yBXZl .layer-86YKbF,
.app-2CXKsg, .theme-dark .container-2cd8Mz, .container-1oAagU, .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N, .contentRegion-3HkfJJ .scroller-3_YDR2, .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG,
.sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh, .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG, .nowPlayingColumn-1eCBCN, .contentRegion-3HkfJJ, .sidebar-1tnWFu, .chat-2ZfjoI
.chatContent-3KubbW, .theme-dark .scroller-WSmht3, .chat-2ZfjoI, .resizeHandle-PBRzPC, .title-31SJ6t .searchBar-jGtisZ, .member-48YF_l, .channelTextArea-1FufC0,
.actionButton-3-B2x-, .actionButton-3-B2x-.highlight-3DSi7b, .fieldList-in8WkP, .background-3d_SjE, .wrapper-15CKyy, .wrapper-3HVHpV, .theme-dark .pageWrapper-2PwDoS,
.scroller-RfJjkV, .wrapper-1NNaWG, .cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i, .theme-dark .paginator-1eqD2g, .theme-dark .payment-2bOh4k, .applicationStore-2nk7Lo,
.scroller-29cQFV, .panels-3wFtMD, .wrapper-1gVUIN, .selectedBackground-1t6xXq, .chat-2ZfjoI .themed-Hp1KC_, .searchHeader-1r_ZSh, .messageGroupWrapper-1jf_7C, 
.theme-dark .themed-Hp1KC_, .chatContent-3KubbW, .container-JhuCwn .input-3O04eu {
    background-color: transparent;
}
.bg-1QIAus {
    background-image: var(--var-background);
    background-position-x: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%) contrast(100%) blur(0px) saturate(100%);
    z-index: -5;
}
.scroller-kQBbkU::-webkit-scrollbar-track, .auto-2TJ1RH::-webkit-scrollbar-track, .thin-RnSY0a::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.auto-2TJ1RH::-webkit-scrollbar-thumb {
    background-color: var(--var-black1);
}
/* Transparent Backgrounds END */

/* Coloring */

/* Accent */
.lookFilled-1H2Jvj.colorBrand-2M3O3N:disabled, .lookFilled-1H2Jvj.colorBrand-2M3O3N[aria-disabled=true], .lookFilled-1H2Jvj.colorBrand-2M3O3N, .lookFilled-1H2Jvj.colorPrimary-2-Lusz,
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ, .bd-button, .itemFilled-2Fo7lr[aria-checked=true], .selected-18Wszc.option-1QI4c9, 
.option-1QI4c9:hover, .notice-12Koq-, .button-3_1yil:hover, .colorDefault-CDqZdO.focused-3qFvc8, .wrapper-22rqw6, .inspector-DFKXwB, .optionBox-1UOevl, #bd-editor-controls,
.channelHeader-DFRX8q, .wrapper-1ZcZW- {
    background-color: var(--var-accent);
}
.addFriendInputWrapper-kkoSV9:focus-within, .wrapper-SdcMKg {
    border-color: var(--var-accent);
}
.theme-dark .interactiveSelected-29CP8y.selected-26oxtA {
    background-color: var(--var-accent);
}
.textBadge-1fdDPJ[style='background-color: var(--brand-500);'] {
    background-color: var(--var-accent) !important;
}
/* Black 1 */
.theme-dark .appMount-2yBXZl, .privateChannels-oVe7HL, .theme-dark .container-1NXEtd, .container-1zzFcN, .theme-dark .panel-2ZFCRb, 
.theme-dark .container-YkUktl, .container-3XgAHv, .container-3i3IzO, .scrollableContainer-15eg7h, 
.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover, .peopleColumn-1wMU14 .searchBar-2aylmZ, .addFriendInputWrapper-kkoSV9, .theme-dark .inset-SbsSFp, 
.theme-dark .scroller-3X7KbA, .bd-addon-list .bd-addon-card, .bd-addon-list .bd-addon-header, .bd-search-wrapper, .bd-select:hover, .bd-select.menu-open, 
.bd-select .bd-select-options, .flexChild-3PzYmX .layout-1XOMLV, .itemFilled-2Fo7lr, .container-3tKtM_:active, .theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98,
.content-3spvdd, .container-1wv6C6, .customizationSection-IGy2fS .input-3O04eu, .customizationSection-IGy2fS .bioTextArea-dDGOeC, .authedApp-8q3NA9, .connectContainer-1hylYM,
.connection-YOVI9j, .connectionHeader-Ixbb1s, .accountButtonInner-33vCDY, .theme-dark .feature-2IUcBI, .guildHeader-1EPPBS, .cardWrapper-1bSePP, .detailsBlock-24pLFz,
.noItemsCard-5EOcCl, .promotionCard-mo7ClH, .theme-dark .paymentPane-ut5qKZ, .theme-dark .codeRedemptionRedirect-2hYMSQ, .theme-dark .defaultIndicator-2ndWks, .container--8P6Tr,
.callContainer-HtHELf, .contentCircle-15IFyT, .container-2cd8Mz .themed-Hp1KC_, .theme-dark .headerBar-1dSpQr, .container-2o3qEW, .searchResult-O9NDji, .header-1w9Q93, 
.card-2guEcY:not(.outline-3kFzf8), .emptyCard-KDifrB, .mainCard-3KBsBI, .matchingPostsRow-2IiEQ1, .pill-3pRQlO {
    background-color: var(--var-black1);
}
/* Black 2 */
.accountProfileCard-lbN7n-, .theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover, .flexChild-3PzYmX .disabled-3S7pz8 .layout-1XOMLV,
.flexChild-3PzYmX .itemFilled-2Fo7lr:hover:not([aria-checked=true]):not(.disabled-WBmOu_), .option-1QI4c9, .container-3tKtM_:hover,
.theme-dark .card-2TuZPZ:hover, .theme-dark .card-2TuZPZ:hover .iconMask-2fMR98, .theme-dark .iconMask-2fMR98:hover, .theme-dark .iconMask-2fMR98:hover .iconMask-2fMR98,
.cardPrimary-3qRT__, .guildSubscriptionSlots-1i_C21, .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
    background-color: var(--var-black2);
}
/* Notification */
.actionButton-3-B2x-.actionDeny-1pQVuZ:hover, .colorDanger-3n-KnP, .colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b, .disabled-35mc5w:hover,
.messagesErrorBar-1IQ1rH {
    color: var(--var-notification);
}
.lookFilled-yCfaCM.colorRed-rQXKgM, .colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
    background-color: var(--var-notification);
}
/*  --------------------------------------------------------------------------------------------------  */
.optionContainer-yOpaLq, .header-11eigE .searchBar-2M9mRP, .upsell-3B1lnN, .container-1yy5xN .input-3O04eu, .side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy,
.sidebarRegionScroller-FXiQOh .side-1lrxIh .item-2GWPIy.themed-qqoYp3:hover:not(.disabled-2G98Nl), .option-Uc12mm[aria-selected=true]:not(.option-Uc12mm.multi-2vPqc4), 
.metadataContainer-35U-On, .theme-dark .gemIndicatorContainer-PqApbX, .card-2xlCYc:hover, .detailsBlock-24pLFz .lookFilled-GPyucw.select-Zz0IcO, 
.theme-dark .hoverablePayment-lE1s4t:hover, .searchBar-3TnChZ .searchBarComponent-3N7dCG, .withTagAsButton-OsgQ9L:hover, .withTagless-10ooWt:hover, 
.circleIconButton-1VxDrg, .button-12Fmur.enabled-9OeuTA:hover, .section-3G9aLW, .input-3O04eu, .friendRequestsButton-77veU7 {
    background-color: rgb(181 181 181 / 20%);
}
.optionContainer-yOpaLq:hover, .categoryItemDefaultCategory-3haEDq:hover, .categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover,
.navButtonActive-1EqC5l, .side-1lrxIh .themed-qqoYp3.item-2GWPIy:active:not(.disabled-2G98Nl), .option-Uc12mm.focused-10mbp-, .option-Uc12mm:focus, .option-Uc12mm:hover,
.container-2qVG6q:hover, .theme-dark .container-2qVG6q.isOpen-2OXbFs {
    background-color: rgb(181 181 181 / 25%);
}
.clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK {
    background-color: rgb(181 181 181 / 11%);
}
.menu-1QACrS, .header-11eigE, .emojiPicker-6YCk8a, .contentWrapper-3vHNP2, .wrapper-2SplAX, .theme-dark .customColorPicker-C_jddW, .messageContainer-3VTXBC, .footer-5ji8u1,
.popout-15UxD6, .container-3YcgdM, .divider-AZrXIA, .menu-2TXYjN {
    background-color: rgb(10 20 20);
}
.legacySession-UoUT_h .sessionIcon-2fwSzb {
    background-color: rgb(181 181 181 / 50%);
}
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: rgb(16 53 103 / 90%);
}
.sessionIcon-2fwSzb {
    background-color: rgb(181 181 181 / 80%);
}
.emojiPicker-6YCk8a {
    border-radius: 0;
}
.top-K_jibn .brand-2EKq3J.item-2GWPIy:hover {
    border-bottom-color: rgb(20 70 138);
}
.top-K_jibn .brand-2EKq3J.item-2GWPIy:active, .top-K_jibn .brand-2EKq3J.selected-1sf9UK.item-2GWPIy {
    border-bottom-color: var(--var-accent);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: var(--var-notification);
    border-color: var(--var-notification);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
    background-color: var(--var-notification);
    border-color: var(--button-outline-danger-border-hover);
    color: var(--button-outline-danger-text-hover);
}
.container-3tKtM_ {
    border: none;
    background-color: var(--var-black1);
}
.wrapper-2RrXDg {
    background-color: var(--var-black1);
    border: 1px solid var(--var-black1);
}
.bd-select {
    background-color: var(--var-black1);
    border: 1px solid transparent;
}
.bd-select .bd-select-option:hover {
    background-color: rgb(0 0 0 / 25%);
}
.bd-select .bd-select-option.selected {
    background-color: rgb(0 0 0 / 60%);
}
.card-2TuZPZ .wrapper-2vIMkT {
    background-color: #000000;
    border-radius: 4px;
}
.lookFilled-GPyucw.select-Zz0IcO {
    background-color: var(--var-black1);
    border-color: transparent;
}
.select-Zz0IcO.searchable-YgS2mV.open-LeyjhI.lookFilled-GPyucw {
    background-color: var(--var-black2);
    border-color: var(--var-black1);
}
.theme-dark .root-1CAIjD, .container-_dQaft, .container-2ebMPP, .messagesPopoutWrap-3zryHW {
    background-color: rgb(10 20 20);
    border-radius: 10px;
}
.friendRequestsButton-77veU7 .numberBadge-37OJ3S {
    background-color: transparent !important;
}
.newPostsButton-UaBhcU {
    background-color: rgb(27 79 88);
    border: 1px solid rgb(27 79 88);
}
/* Coloring END */

/* loading circle START*/
@keyframes loading {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}
.inner-MGEKwh:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    border-top: 4px solid rgba(255, 255, 255, .2);
    border-right: 4px solid rgba(255, 255, 255, .2);
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    border-left: 4px solid #fff;
    width: 26px;
    height: 26px;
    animation: loading 1s infinite linear;
    top: 3px;
}
.inner-MGEKwh {
    border-radius: 50px;
}
.wanderingCubes-2A046F .item-2VgEex {
    display: none;
}
.inner-MGEKwh.pulsingEllipsis-S-xTiX .item-2VgEex {
    display: none;
}
.circular-2aZ0P_ {
    display: none;
}
.spinner-2ID8f1 {
    margin-left: 14px;
}
.spinner-2ID8f1 {
    position: relative;
    top: calc(12% - 0px);
}
.loadingPopout-1feYe_ {
    background-color: transparent;
}
/* loading circle END*/

/* Button changes */
.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover, .lookFilled-1H2Jvj.colorPrimary-2-Lusz:hover, .bd-button:hover {
    background-color: var(--var-accent);
    transform: translateY(-1px);
}
.lookFilled-1H2Jvj.colorBrand-2M3O3N:active, .lookFilled-1H2Jvj.colorPrimary-2-Lusz:active, .bd-button:active {
    background-color: var(--var-accent);
    transform: translateY(1px);
}
/* Button changes END */

/* Pannel changes */
.theme-dark .children-3xh0VB:after, .theme-dark .form-3gdLxP:before {
    background: transparent;
}
.theme-dark .container-1NXEtd, .privateChannels-oVe7HL, .sidebar-1tnWFu .panels-3wFtMD, .container-YkUktl, .activityPanel-9icbyU, 
.container-1zzFcN, .clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK, .header-3OsQeK {
    border-radius: 10px 10px 10px 10px;
}
.messageGroupWrapper-1jf_7C {
    border: 0;
}
.jumpButton-1ZwI_j {
    margin-right: -5px;
    margin-top: 10px;
    margin-left: 6px;
    background-color: var(--var-black1);
}
.container-2cd8Mz .themed-Hp1KC_ {
    border-radius: 10px 0px 0px 10px;
}
.clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK, .header-3OsQeK {
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
}
.homeWrapperNormal-bu1BS6 .headerBar-1dSpQr {
    border-radius: 10px 0 0 0;
}
.tabBody-2dgbAs:before, .searchBar-3TnChZ {
    box-shadow: none;
}
.callContainer-HtHELf {
    height: 98.9%;
}
.container-3XgAHv {
    height: 98.5%;
}
.form-3gdLxP .base-3bcbY3 {
    position: absolute;
    bottom: -3px;
    left: 10px;
}
.sidebar-1tnWFu {
    margin-right: 5px;
    height: 98.5%;
}
.peopleColumn-1wMU14, .nowPlayingColumn-1eCBCN {
    height: 98.5%;
}
.sidebar-1tnWFu .panels-3wFtMD {
    margin-top: 10px;
}
.content-1jQy2l:before {
    display: none;
}
.guilds-2JjMmN {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px 10px 10px 10px;
    height: 98.5%;
}
.form-3gdLxP {
    padding-left: 0;
}
.channelTextArea-1FufC0, .wrapper-2SplAX {
    margin-bottom: 15px;
}
.scroller-hE2gWq {
    border-left: none;
}
.option-1QI4c9:hover {
    opacity: .7;
}
.option-1QI4c9:hover, .selected-18Wszc.option-1QI4c9 {
    box-shadow: none !important;
}
.peopleListItem-u6dGxF {
    border-top: none;
}
.notice-2HEN-u {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sansAttachButton-1ERHue {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.scroller-kQBbkU {
    bottom: 15px;
}
.content-1jQy2l {
    gap: 5px;
}
.form-3gdLxP {
    padding: 0;
}
.membersWrap-3NUR2t:before, .profilePanel-2PWEok:before, .searchResultsWrap-5RVOkx:before {
    content: "";
    position: absolute;
    top: -48px;
    width: 100%;
    height: 48px;
    border-radius: 10px 0 0 0;
    background-color: var(--var-black1);
}
.content-1jQy2l .chatContent-3KubbW:before, .container-3wLKDe:before {
    content: "";
    position: absolute;
    top: -48px;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: var(--var-black1);
}
.container-3wLKDe {
    overflow: visible;
    background: transparent;
    height: 98.5%;
}
.profilePanel-2PWEok {
    width: 240px;
    height: 98.5%;
    background: transparent;
}
.container-2o3qEW .membersWrap-3NUR2t, .member-48YF_l, .members-3WRCEx, .membersWrap-3NUR2t .members-3WRCEx {
    background-color: transparent;
}
.membersWrap-3NUR2t {
    background: var(--var-black1);
    border-radius: 0 0 0 10px;
    height: 98.5%;
}
.profilePanel-2PWEok .userPanelOuter-xc-WYi {
    background: var(--var-black1);
    border-radius: 0 0 0 10px;
}
.membersWrap-3NUR2t .members-3WRCEx, .container-2o3qEW {
    height: 98.5%;
    border-radius: 0 0 0 10px;
}
.searchResultsWrap-5RVOkx {
    background-color: var(--var-black1);
    height: 98.5%;
    border-radius: 0 0 0 10px;
    overflow: visible;
}
.search-39IXmY {
    margin: 0px 0px 0 10px;
    order: 1;
}
.container-2o3qEW .membersWrap-3NUR2t {
    height: 100%;
}
.content-1jQy2l .userPanelInnerThemed-2xZFjl {
    background: transparent;
}
.focused-1xh-wG .searchBar-jGtisZ, .open-1F8u2c .searchBar-jGtisZ {
    width: 144px;
}
.header-30YxSJ {
    background-color: var(--var-black1);
    position: relative;
    top: 5px;
    border-radius: 10px;
}
.scroller-145h9c {
    padding: 0 0 0 8px !important;
}
.channelHeader-DFRX8q {
    padding-left: 25px;
    padding-right: 10px;
}
.collapseButton-39-IRc {
    left: 0px;
}
.messages-23can0 {
    background-color: transparent;
    border-radius: 0;
    padding: 5px 0 0 0;
}
.container-iA3Qrz {
    padding-right: 0;
    padding-left: 8px;
}
.messagesPopout-eVzQcI .jumpButton-1V_1FA {
    margin-top: 18px;
    margin-right: 5px;
}
.scroller-145h9c .jumpButton-1V_1FA {
    margin-right: 3px;
}
.forumPost-3i1mpe {
    background-color: rgb(181 181 181 / 20%);
    border-radius: 10px;
    margin: 10px 0 10px;
}
/* Friends, Nitro and Public server buttons start */
.container-32HW5s[aria-posinset="1"], .container-32HW5s[aria-posinset="2"] {
    display: inline-block;
    width: 108px;
}
.container-32HW5s[aria-posinset="1"] .content-66wMin {
    position: absolute;
    top: 31px;
    left: 29px;
}
.container-32HW5s[aria-posinset="1"] .interactive-iyXY_x, .container-32HW5s[aria-posinset="2"] .interactive-iyXY_x {
    transition: 150ms ease;
    padding-bottom: 12px;
    padding-right: 0;
}
.container-32HW5s[aria-posinset="1"] .avatar-1HDIsL, .container-32HW5s[aria-posinset="2"] .avatar-1HDIsL {
    left: 27px;
    top: -5px;
    position: relative;
}
.container-32HW5s[aria-posinset="2"] {
    position: absolute;
    top: 8px;
    right: 0;
}
.container-32HW5s[aria-posinset="2"] .content-66wMin {
    position: absolute;
    top: 31px;
    left: 36px;
}
/* Nitro Promotion/Trial badge */
.container-32HW5s[aria-posinset="2"] .interactive-iyXY_x .premiumTrialBadge-pEqntF {
    position: relative;
    left: -10px;
    font-size: 10px;
    bottom: 5px;
    color: #989aa2;
    background-color: #000;
}
.container-32HW5s[aria-posinset="2"] .interactive-iyXY_x .premiumTrialAcknowledgedBadge-2QxbU_ {
    width: 85%;
    transition: 150ms ease;
}
.container-32HW5s[aria-posinset="2"] .interactive-iyXY_x:hover .premiumTrialAcknowledgedBadge-2QxbU_ {
    transition: 150ms ease-out;
    color: #eeeff0;
}
.container-32HW5s[aria-posinset="2"] .interactive-iyXY_x .premiumTrialBadgeSelected-3NVwA4 {
    color: #eeeff0;
}
/* Snowgiving button */
.snowsgivingLink-1TZi3c {
    position: relative;
    width: 224px;
    z-index: 1;
    padding: 1px 0;
    border-radius: 4px;
    max-width: 224px;
    margin-left: 8px;
}
.snowsgivingIcon-3d0pr1 {
    margin-left: 12px;
}
.snowsgivingLink-1TZi3c:hover {
    transition: 150ms ease-out;
}
/* Public server button And list */
.link-39sEB3[data-list-item-id="public-servers"] .content-66wMin {
    position: initial;
    left: 0;
    top: 0;
}
.link-39sEB3[data-list-item-id="public-servers"] .avatar-1HDIsL {
    left: 0;
    top: 0;
}
.container-32HW5s[aria-posinset="2"]:nth-child(4) {
    position: relative;
    display: block;
    width: 224px;
    height: 44px;
    top: 0;
}
.channel-1Shao0:nth-child(5) {
    top: 0;
    padding: 1px 0;
}
.container-32HW5s[aria-posinset="2"]:nth-child(4) .interactive-iyXY_x {
    padding-bottom: 0;
}
/* Friends, Nitro and Public server buttons END */
/*Friends Online/All/Pending/Blocked And Add Friend*/
.tabBar-ra-EuL .item-3mHhwr {
    border-bottom: none!important;
    position: relative;
    padding: 2px 12px;
    transition: 300ms ease;
    display: block;
    font-size: 15px;
    color: #b5b5b5;
    box-sizing: border-box;
    border-radius: 0;
}
.tabBar-ra-EuL .item-3mHhwr:after {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    background: #b5b5b5;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    border-radius: 3px;
    transform-origin: bottom;
}
.tabBar-ra-EuL .item-3mHhwr.selected-1sf9UK:after {
    transition: 180ms cubic-bezier(0,0,0,1),opacity 1ms ease;
    transform: scale(1,1);
    transform-origin: bottom;
}
.tabBar-ra-EuL .item-3mHhwr.selected-1sf9UK ~ .item-3mHhwr:after {    
    transform: translate(-80px) scale(2.5,1);
    transition: 180ms cubic-bezier(1,0,0,0.7),opacity 100ms;
    opacity: 0;
}
.tabBar-ra-EuL .item-3mHhwr:not(.selected-1sf9UK)::after {
    transform: translate(80px) scale(2.5,1);
    transition: 180ms cubic-bezier(1,0,0,0.7),opacity 100ms;
    opacity: 0;
}
.side-1lrxIh .themed-qqoYp3.item-2GWPIy:hover:not(.disabled-2G98Nl), .topPill-2vcLsa .themed-qqoYp3.item-2GWPIy:hover:not(.disabled-2G98Nl) {
    transition: 100ms ease-out;
    background-color: transparent;
    color: #FFF !important;
}
.tabBar-ra-EuL .item-3mHhwr.selected-1sf9UK {
    background-color: transparent !important;
    color: #FFF;
}
.tabBar-ra-EuL .item-3mHhwr[aria-label="Add Friend"], .tabBar-ra-EuL .item-3mHhwr:nth-child(5) {
    background-color: transparent !important;
    color: #B5B5B6 !important;
}
.tabBar-ra-EuL .item-3mHhwr.addFriend-emTWY1[aria-selected="true"] {
    color: #FFF !important;
}
.tabBar-ra-EuL .item-3mHhwr.addFriend-emTWY1[aria-selected="true"]:after {
    background: var(--status-positive-background);
    opacity: .6;
    z-index: -1;
}
.addFriendInputWrapper-kkoSV9 .addFriendInput-1Ta-rO .input-1bmui3 {
    background-color: transparent;
}
/* Sliders */
.container-1QtPKm.default-colors {
    /*full off*/
    background-color: rgb(70 70 70) !important;
}
.container-1QtPKm.default-colors.checked-16gMAN{
    /*full on*/
    background-color: #27693c !important;
}
.slider-HJFN2i path {
    fill: transparent;
}
.itemFilled-2Fo7lr:hover:not([aria-checked=true]):not(.disabled-WBmOu_) {
    background-color: rgb(45 45 45);
}
.itemFilled-2Fo7lr:active:not([aria-checked=true]):not(.disabled-WBmOu_) {
    background-color: rgb(50 50 50);
}
.container-1_EVMa .input-3MU9bJ, .container-1_EVMa .layout-1XOMLV, .theme-dark .container-30qY7E {
    background-color: var(--mbd-black1);
    border-color: var(--mbd-black1);
}
/* BD Sliders */
.bd-switch-body {
    --switch-color: #4d4d4d;
    transition: 100ms ease;
}
.bd-switch input:checked+.bd-switch-body {
    background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
    transition: 100ms ease;
}
/* Sliders END*/