@import url(https://elisniper.github.io/Glass-Wave/Addons/StatusPicker.css);
@import url(https://elisniper.github.io/Glass-Wave/Addons/ChatBubbles.css);
@import url(https://elisniper.github.io/Glass-Wave/Addons/Icons.css);
@import url(https://elisniper.github.io/Glass-Wave/Addons/Animations.css);

:root {
    --var-background: linear-gradient(138deg, rgba(162,247,220,1) 0%, rgba(18,145,187,1) 80%, rgba(35,108,179,1) 100%);
    --var-accent: #0a4355;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #B00020;
    --var-popout-color: rgb(10 20 20);
    --var-hover20: rgb(181 181 181 / 20%);
    --var-hover22: rgb(181 181 181 / 22%);
    --var-hover25: rgb(181 181 181 / 25%);
    --var-hover30: rgb(181 181 181 / 30%);
    --var-hover50: rgb(181 181 181 / 50%);
    --var-hover80: rgb(181 181 181 / 80%);
    --var-hover100: rgb(181 181 181 / 100%);

    /* Discord VARS */
    --green-360: rgb(35 165 89 / 80%);
    --green-330: rgb(35 165 89 / 100%);
}
/* Theme info and version */
.info__755e1:after {
    content: "Glass Wave Theme 1.2";
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted);
}
/* Theme Developer sign */
.avatar__08316[src*="253480609224065025"]+::after {
    content: 'Theme Developer';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-shadow: none;
    color: crimson;
    position: absolute;
    margin: 0 8px;
    padding: 2px 4px;
    transform: translateY(20%);
}
/* Theme customisation instructions */
#themes-tab .bd-addon-controls:after {
    content: "Glass Wave customisations: \a\a Glass Wave can be customised using the bellow code in your custom css tab. \a\a :root{ \a --var-background: url(Custom image) ;\a --var-accent: Custom color ;\a --var-popout-color: Custom color ;\a --var-chat-bubbles-background: Custom color ;\a --var-chat-mentioned: Custom color ;\a --var-hover20: Custom color ;\a--var-hover22: Custom color ;\a--var-hover25: Custom color ;\a--var-hover30: Custom color ;\a--var-hover50: Custom color ;\a--var-hover80: Custom color ;\a--var-hover100: Custom color ;\a }; \a\a Theme Presets: \a\a Use one of the bellow @imports in your custom css tab to apply a pre-made customisation \a preset for Gass Wave.\a\a @import url(https://elisniper.github.io/Glass-Wave/Addons/Presets/02FranXX.css); \a @import url(https://elisniper.github.io/Glass-Wave/Addons/Presets/EminenceInShadow.css);";
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 10px;
    background: var(--var-black1);
    color: var(--header-secondary);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 5px;
    white-space: pre;
}
/* Transparent Backgrounds */
.layer__2efaa .wrapper_a7e7a8, .layer__2efaa .container__037ed, .layer__2efaa, .layer__2efaa .standardSidebarView__1129a, .appMount_fae9dd .layers_a23c37, .appMount_fae9dd .layer__2efaa,
.app_de4237, .theme-dark .container__5c7e7, .container__0a6a9, .contentRegion__0bec1 .contentRegionScroller__86c79, .contentRegion__0bec1 .scroller__52680,
.sidebarRegion__60457 .sidebarRegionScroller__1fa7e, .standardSidebarView__1129a .sidebarRegion__60457, .nowPlayingColumn_f5023f, .contentRegion__0bec1, .sidebar_ded4b5, .chat__52833
.chatContent__5dca8, .theme-dark .scroller__4b984, .chat__52833, .resizeHandle_f1a098, .title_b7d661 .searchBar_e0c60b, .member_b44d5d, .channelTextArea__2e60f,
.actionButton__23182, .actionButton__23182.highlight__5b64b, .fieldList_aab0de, .background_b61fcc, .wrapper__5c5cd, .wrapper_b8c724, .theme-dark .pageWrapper_fef757,
.scroller_e9501c, .wrapper__7a35f, .cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i, .theme-dark .paginator_e620d3, .theme-dark .payment__7d702, .applicationStore_fc7d76,
.scroller__244e5, .panels__58331, .selectedBackground_d847da, .chat__52833 .themed_b152d4, .searchHeader__19d87, .messageGroupWrapper_f8c6e9, 
.theme-dark .themed_b152d4, .chatContent__5dca8, .form_c73970 .input_d266e7, .content__764ce .multiInput-1VARjC .input_d266e7, .phoneField__65729 .inputField__3008c,
.previewMessage__1075c, .theme-dark .notches__065e9.gray__4fb3f, .content-2eQb8J, .container__74689, .groupContainer_ea45bc,
.collapseable__71e46.toggled_bb1607:active, .searchableSelect__52dee .option_be8b2e .selectedIcon__4b0ba, .overlayBackground__86b78 .menu-KSaHL1, .theme-dark .perksModal-CLcR1c,
.tierMarker-Vw1C95[style*="background: rgb(30, 31, 34);"], .content__764ce .input__0c269, .loadingPopout__5f0e8, .scroller__52ae7, .attachedBars_da3c74,
.theme-dark .footer-1hTRRZ .inputDefault__80165, .titleContainer_e558ff, .option_b5597b:hover:after, .footer__274e8 .inputDefault__80165, .spinner-3QeLKO,
.theme-dark .notches__065e9.gray__4fb3f, .scroller-36O4Tg, .header-16U6Vf, .container__9e6a7, .theme-dark .emptyPage__3e15d, .theme-dark .scrollerContainer_bf5dbd, 
.theme-dark .container__7590f, .theme-dark .focusLock__10aa5 .carouselModal-1eUFoq,.topicFormItem__80144 .textInput__210e5 ,.userProfileInner__8065b:before, .wrapper_bd2abe,
.outerContainer-2qLQSo, .contentContainer-BWAau5, .containerSidenav__2623a, .sidebar__68062, .theme-dark .container_df3aa0, .theme-dark .sidebar__68062, 
.wrapper__3d460, .wrapper_a7e7a8, .container_b181b6, .wrapper_dae547, .paymentNote_c68ae0, .container__949fa .container_d2567a, .marker__6f061, .option_b5597b:after, .shop_b31ed2,
.scroller_a1aadd, .pageWrapperBackgroundPrimary__74f14, .shopScrollBackgroundPrimary_bb1f42 {
    background-color: transparent;
}
.artwork__04b4e .image_a9b746.loaded_b5cc8f[src*="https://cdn.discordapp.com/splashes/613425648685547541/8133658851ff2cabe7409446a14c8baf.jpg?size=2048"] {
    display: none;
}
.modalHeader_b23047, .whatsNewSection_e83a8d {
    background: transparent;
}
.zoomedCarouselModalRoot__1e2da, .page__0b66e {
    background: transparent !important;
}
/* Transparent Backgrounds END */

/* Background */
.bg__12180 {
    background-position-x: center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%) contrast(100%) blur(0px) saturate(100%);
    z-index: -5;
}
body {
    background-image: var(--var-background);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%) contrast(100%) blur(0px) saturate(100%);
}
.theme-dark .directoryContainer_d3edd9 {
    background-color: var(--var-background);
}
/* Scrollbars */
.scroller__1f96e::-webkit-scrollbar-track, .auto__76cc7::-webkit-scrollbar-track, .thin__62e51::-webkit-scrollbar-thumb, .scroller__52ae7::-webkit-scrollbar-track,
.auto_a48086::-webkit-scrollbar-track {
    background-color: transparent !important;
}
.auto__76cc7::-webkit-scrollbar-thumb, .auto_a48086::-webkit-scrollbar-thumb {
    background-color: var(--var-black1);
}


/* Coloring */

/* Accent */
.lookFilled__19298.colorBrand_b2253e:disabled, .lookFilled__19298.colorBrand_b2253e[aria-disabled=true], .lookFilled__19298.colorBrand_b2253e, .lookFilled__19298.colorPrimary__6ed40,
.modeSelected__487d6 .link__95dc0, .modeSelected__487d6:hover .link__95dc0, .itemFilled__373d7[aria-checked=true], .selected_ea51d6.option_a0c054, 
.notice__99c03, .button__671cf:hover, .colorDefault-CDqZdO.focused-3qFvc8, .wrapper__4f229, .inspector__993e1, .optionBox-1UOevl, #bd-editor-controls,
.channelHeader__5d30c, .wrapper__2d9b1, .buttonColor__6f6b0, .questionMark-3V9mGJ,.colorDefault__0b482:active:not(.hideInteraction__2790e), .lookFilled__19298.colorBrandNew_fd170a,
.selectedIcon__4b0ba, .newMessagesBar__8b6d7, .botTagRegular_c89c9a, .searchBox_a63854:focus, .backgroundModifierContainer__73a0a.selected__93d53,
.ruleIconContainer_baf164, .stepCountIcon_a27a70, .selectedBrand__37ae4, .featureIcon__48a2c, .viewServerButton__1ce42,
.mediaBarGrabber_c64ff9, .mediaBarProgress__29db2, .mediaBarProgress__29db2:after, .mediaBarProgress__29db2:before, .mediaBarInteraction__0633c:hover .mediaBarGrabber_c64ff9,
.interactive:hover, .row__4daf2:hover, .categoryItem_b1be5c.selectedCategoryItem__0bf4c .itemInner__9e755, .bd-server-tag, .selectorButtonSelected-3cQUnj,
.theme-dark .tooltipBrand__13fbc, .theme-light .tooltipBrand__13fbc, .theme-light .tooltipBrand__13fbc .tooltipPointer_a79354, .selectorButtonSelected_fbe8fc,
.selectorButton_c6ae93:not(.selectorButtonPremiumRequired_ce72d6):hover, .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, .wrapper_d281dd:hover .childWrapper__01b9c,
.iconWrapper__85630, .theme-dark .footer__13977, .checkmark__1577e, .countContainer-3DOo5v, .countContainer-3uQ087, .barFill__30e17, .container__73245, .pillItemSelected__3dd13,
.checkboxCircle_aed363, .theme-dark .dim__7b9b1 .key__06fe6, .theme-dark .calendarPicker__5c474 .react-datepicker, .selectedProgressBar__10383,.activityCardTag-glB7qz,
.childWrapper__01b9c, .expandedFolderBackground__1bec6, .folder__17546.hover__043de, .folder__17546[aria-expanded=true], .userCardInner_d6aa46, .iconCircle_de71da, .wrapper_cd625e,
.uploadInput_bbab2f, .marker__6f061 .empty__3837d, .premiumTrialAcknowledgedBadge_b69948, .activityItem__33da9:hover, .wrapper_b1db9d {
    background-color: var(--var-accent);
}
.addFriendInputWrapper__4bf8e:focus-within, .wrapper__4beb8 {
    border-color: var(--var-accent);
}
.theme-dark .interactiveSelected_ec846b.selected_d94cf9 {
    background-color: var(--var-accent);
}
.textBadge__45d79[style='background-color: var(--brand-500);'] {
    background-color: var(--var-accent) !important;
}
.gradient__582ae {
    background: var(--var-accent) !important;
}
/* Black 1 */
.theme-dark .appMount_fae9dd, .privateChannels__93473, .theme-dark .container__590e2, .container_d667ff, .theme-dark .panel_bd8c76, 
.theme-dark .container_ca50b9, .container_def45c, .container__767d1, .scrollableContainer__33e06, 
.peopleListItem_d14722.active__6b8ff, .peopleListItem_d14722:hover, .peopleColumn__51df3 .searchBar_ff8800, .addFriendInputWrapper__4bf8e, .theme-dark .inset__0bfb3, 
.theme-dark .scroller__3d071, .bd-addon-list .bd-addon-card, .bd-addon-list .bd-addon-header, .bd-search-wrapper, .bd-select:hover, .bd-select.menu-open, 
.flexChild__6e093 .layout-1XOMLV, .itemFilled__373d7, .container_a308ae:active, .theme-dark .card__86773, .theme-dark .iconMask__1aff7,
.content_d67847, .container__8877d, .customizationSection__16fec .input_d266e7, .customizationSection__16fec .bioTextArea_a108c9, .authedApp__51b26, .connectContainer__8050b,
.connection_fff5f6, .connectionHeader__3c82d, .accountButtonInner__80e3a, .theme-dark .feature-2IUcBI, .guildHeader__30707, .cardWrapper_bc8d2a, .detailsBlock__1191c,
.noItemsCard_f473e7, .promotionCard__8581c, .theme-dark .paymentPane__9cf01, .theme-dark .codeRedemptionRedirect_bc7f36, .theme-dark .defaultIndicator__855a2,
.contentCircle-15IFyT, .container__5c7e7 .themed_b152d4, .theme-dark .headerBar_afb1ac, .container_b2ce9c, .searchResult_dcd237, .header_f5cc88, 
.card__4dc22:not(.outline_cb0aed), .emptyCard_f82dde, .mainCard__8a660, .matchingPostsRow__510be, .pill_f055c3, .perkCard__6fe60, 
.children_b15c64 .input_d266e7, .theme-dark .expandedInfo__47bad, .theme-dark .progress__2cc1d, .avatarUploaderInnerSquareDisabled__3cfd1,
.container_d5f6d0, .primary_f0f61f:hover:not(.disabled__8e315), .secondary_c96c46, .container_d5f6d0:hover .icon__4c736, .theme-dark .default__3e2f5, 
.theme-dark .tierHeaderUnlocked_cc60fa, .theme-dark .tierHeaderLocked__4d099, .descriptionBox_cca0c3, .marginBottom4__12b08 .input_d266e7, .cardHeader__27283, .member-2cj2PI .role__631a3,
.category_ba5745, .card__834d4, .container__7b33c, .container_dabadb, .category__2d800.activeCategory_acadca, .theme-dark .searchBox_a63854,
.clickable_e2569e:hover, .theme-dark .activeButton__7a550, .theme-dark .activeButton__7a550:hover, .theme-light .activeButton__7a550, .theme-light .activeButton__7a550:hover,
.pageButton_bcd673:hover, .list_a19d86, .intentsContainer__9bd68, .category__60494, .card__2ebbc, .exampleContainer-3KBk_U, .clickableContainer__69013, 
.groupCollapsedContainer_d7de68, .pointer_d95271, .editCard_dfa091, .actionContainer__51bd9, .editCard_dfa091.toggled_bf7bde.active_ef2ec5, .richTag_fba187,
.keywordListContainer_fdf41c, .collapseable__71e46 .keywordTextArea__2035a, .theme-dark .headerClickable_c4d7a9, .theme-dark .headerDefault__3e003, .theme-dark .headerExpanded__03c29,
.upsellContainer__978df, .upsellFooter__63475, .backgroundAccent__6330c, .developerPortalCtaWrapper__21172, .featureCard__0a441, .checklistContainer-12xGp5, .checklistHeader-3liG7E,
.header_d08072, .container__0d7bc, .exampleContainer__83e1c, .card_bc6ee2, .howItWorksImageContainer__91f71, .creatorBenefitCard__1f0b1, .guildCard__81370, .ctaBar-Nhk8yY, 
.theme-dark .tierBody-3ju-rc, .theme-dark .barBackground-unEPDT, .tierMarkerLabelText-1wk8KK:not(.isAccomplished-2NcqRT):hover, .stageUpsell-hekoJb, .theme-dark .perk-19D_HN,
.theme-dark .bd-server-card, .bd-pagination button:hover, .bd-pagination button:active, .role__88585, .theme-dark .notDetected__2a0c9, 
.theme-light .notDetected__2a0c9, .tag__69d9d, .activityItem-1Z9CTr, .participantsButton__56586, .replyBar_b64d74, .threadSuggestionBar_b633f7, 
.header__53b07, .theme-dark .inviteBannerUpsell-1t_LYM, .previewContainer_c7e80d, .emptyChannelIcon__1a1ba, .darkIcon__1846a, .selected__608f1, .selected__608f1:hover, 
.sortDropdown_ec3016, .tag-19iIl1, .tagsButton_e96762, .card-2bTCxE, .topPerksCard__9fc01, .wrapper_cf13f4, .testimonialHeroContainer__4a355, 
.previewListItem__4f725, .progressBarCurrent__44486, .channelList__4e836, .header__8e9c1, .channelRow__33fcb, .channelCoverage__3b43c, .channelCoverageDetails__1b72e, 
.container_bc63f8, .pillContainer_e97d2d, .badExampleIcon__70659, .actionItem__36958, .resourceChannel__1f331, .addActionItem__209df:hover, .addActionItem__209df:active, 
.onboardingStepContainer__4a9d0, .theme-dark .headerArtPlaceholder__4f00a, .sidebarCardWrapper__2c840, .chatHeaderBar__28ee6,  .channelRow__96673:hover:not(.disabled__583e7), 
.upsellPreview_e0cb61, .divider-2bkesd, .changelog__6d46d, .safetyChecklist__826c8, .simpleItemWrapper__2a0a0, .theme-dark .container__10dc7, 
.theme-dark .header__60bef, .list_b1e6a9, .commandName__72789, .theme-dark .calendarPicker__5c474 .react-datepicker__day--disabled, 
.theme-dark .calendarPicker__5c474 .react-datepicker__day--outside-month, .theme-dark .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled, 
.theme-dark .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled:hover, .theme-dark .calendarPicker__5c474 .react-datepicker__header,
.activityCard-3EABg3, .celebrateCardContainer-MAdnBa, .birthdayExplanationWrapper-c5wg5T, .flipCardOpened-hiYLHX, .guildContainer__9d362, .wrapper__0df00,
.wave_e98f7c, .container__6968f, .container__9c82e, .container__9f90c, .row_c1b980, .box__6431e, .stepNumber_f429db, .enableCard__9c362, .containerSidenav__2623a .themed_b152d4,
.settingCard-xZSDjS, .settingCard-xZSDjS.active-3EK-ed, .cardFolder-3H4uH4, .footerContainer_a703d5, .suggestedChannels__158f9, .prompt__671aa, .role__65ab8, 
.chat__52833 .header_c43d51, .mainTableContainer__5ffe0, .otherRoles_a19529, .button_fb10b9, .scrollerContainer_c3503a, .bannedUser__38b44,
.card_e97590, .container__8ee50, .chatHeaderBar_c1df53, .soundButtonSettingContainer__548af, .divider_ffec75, .list__4e6aa, .line__333ed, .benefitsContainer_f75168, 
.container_a6c201, .copyInput_c1c679, .cardHeader__62148, .shop_b31ed2 .theme-dark.themed_b152d4, .defaultPreviewButtonColor__78b22 {
    background-color: var(--var-black1);
}
.upsellOverlayContainer__08979, .mockInput_fd89c6 {
    background: var(--var-black1);
}
/* Black 2 */
.accountProfileCard__22589, .theme-dark .outer_a41cf3.active__76f42, .theme-dark .outer_a41cf3.interactive__01cfa:hover, .flexChild__6e093 .disabled__8d382 .layout-1XOMLV,
.flexChild__6e093 .itemFilled__373d7:hover:not([aria-checked=true]):not(.disabled_af801d), .option_a0c054, .container_a308ae:hover,
.theme-dark .card__86773:hover, .theme-dark .card__86773:hover .iconMask__1aff7, .theme-dark .iconMask__1aff7:hover, .theme-dark .iconMask__1aff7:hover .iconMask__1aff7,
.cardPrimary-3qRT__, .guildSubscriptionSlots__5823d, .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin,
.option_a0c054:hover, .theme-dark .tierBody__615a1, .actionContainer_d21d10, .theme-dark .tierHeaderLocked-3ItHYn, .activityItem-1Z9CTr:hover, 
.channelRow__33fcb:hover:not(.disabled__7b158), .reviewHeader__0a240, .itemFilled__373d7:active:not([aria-checked=true]):not(.disabled_af801d), .rsvpCount__4657d, .timestamp_a65714,
.total_c01838, .navButtons__484bf {
    background-color: var(--var-black2);
}
/* Notification */
.actionButton__23182.actionDeny_d304eb:hover, .colorDanger-3n-KnP, .colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b, .disabled_ab18dc:hover,
.messagesErrorBar__06c0a, .header__2dee5 .text-xs-semibold__2181c[style*="color: var(--status-danger);"], .error__90447 {
    color: var(--var-notification);
}
.lookFilled-yCfaCM.colorRed-rQXKgM, .colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_), .lookFilled__19298.colorRed_d6b062, .lookOutlined__46d54.colorRed_d6b062:hover,
.overlayToggleIcon-1WRcQ9 rect, .overlayToggleIconOff-ps4gGp .fill__80e66, .isUnread__6f880, .custom-theme-background .isUnread__6f880, .unreadPill__715fc, 
.scroller__750f5 .colorDanger_eec36d.focused__27621, .colorDanger_eec36d .checkbox__45366, .colorDanger_eec36d .radioSelection__5ed39, .colorable_c84c4c.red_a51ba8, 
.winButtonClose__73489:hover, .progress-24WBU3 .progressBar-1T6LYX.xsmall-14LPsL.animating-2CraY5[style*="background-color: var(--status-danger);"] {
    background-color: var(--var-notification);
}
/*  --------------------------------------------------------------------------------------------------  */
.optionContainer__5d0b1, .header__55964 .searchBar__8f956, .upsell__780f6, .container_b03b4b .input_d266e7, .side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
.sidebarRegionScroller__1fa7e .side_b4b3f6 .item__48dda.themed_b957e8:hover:not(.disabled__85bca), .option_be8b2e[aria-selected=true]:not(.option_be8b2e.multi__8d15f), 
.metadataContainer__7b316, .theme-dark .gemIndicatorContainer_b03ca0, .card__11580:hover, .detailsBlock__1191c .lookFilled__3dba3.select__0eb48, 
.theme-dark .hoverablePayment__3ea24:hover, .searchBar_e4ea2a .searchBarComponent__22760, .withTagAsButton_cc125f:hover, .withTagless__98b7d:hover, 
.circleIconButton_d8df29, .button__4f306.enabled__470f0:hover, .section_efc22d, .userProfileInnerThemedNonPremium__3d0a6 .input_d266e7, .friendRequestsButton_f19806,
.itemFilled__373d7:hover:not([aria-checked=true]):not(.disabled_af801d), .phoneField__65729, 
.container__7712a, .theme-dark .selectableItem__166c5:focus, .theme-dark .selectableItem__166c5:hover, .theme-dark .bar_e58961, .theme-dark .markDash_dc3ae9,
.lookFilled__19298.colorBrandNew_fd170a:hover, .footer__89240, .container_d5f6d0:hover, .roleRow_c357d5:hover:not(.roleRowDisableHover__9fe35), .icon__4c736,
.theme-dark .iconWrapper__9caa9, .item__47602, .category_ba5745:hover, .clickable__8d049.container__7b33c:hover, .category__2d800:hover, .category__60494:hover,
.backgroundModifierContainer__73a0a:hover:not(.disabled__8b7eb):not(.noAction_aabf92), .editCard_dfa091.active_ef2ec5, .editCard_dfa091.toggled_bf7bde .container_e4c233,
.channelRowLabel-2yYGtY, .collapseable__71e46, .triggerMainContainer_c5139b .collapseable__71e46.toggled_bb1607:active, .theme-dark .changeDetails_ecd760,
.focused__2b1b2, .item__287de:hover:not(.disabled__1c6ff), .buffer_e14781, .buffer_e14781:after, .buffer_e14781:before, .clickable__17ccb:hover .layout_bb8e67,
.theme-dark .bd-server-card:hover, .theme-dark .bd-server-card:focus, .container__73245:hover, .rowContainer__6f4c6, .colorDefault__0b482.focused__27621, .role__6f29c:hover,
.button_fb39e8:hover, .perks-2IIbWQ, .quickswitcher_a3d29a .input__848cd, .result__25f11[aria-selected=true], .header__6d5ea .container_e4c233, .note-6O4w9y textarea:focus,
.colorable_c84c4c.primaryDark__6b700, .container__77df0, .activityTag-3C3YK5, .scrollTierBackgroundUpsell-2oh_9T, .scrollTierBackground-BnWR8k, .root__649bb,
.note-3TX9O7 textarea:focus, .upload_c98ecb, .reaction_b90ab0, .profileBadges__7a7cb, .cardPrimary_cb7a0e, .memberRow__91c35:hover,
.sidebar_bdf6b7 .list__41249 .themed_b957e8.item__48dda:hover, .winButtonMinMax__72f36:hover, .theme-dark .memberListItem_f1d144:not(.popoutDisabled__384f3):hover,
.theme-dark .quickSelectPopoutOption__39224:hover, .searchHeader__19d87 .searchHeaderTabList__78b98 .item__48dda.selected__5711d.themed_b957e8, .option_b5597b:hover,
.clickable_f8437d[aria-disabled=false]>.base__76a71:hover, .clickable_f8437d[aria-selected=true]>.base__76a71, .selectable__25a87:hover, 
.pill_f055c3.clickable__8b375:not(.disabled__70fda):hover, .expandedTabSection__37b48 .topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda, #bd-editor-controls button:hover,
.progressBarTrack__75763, .progressBarMarker__75301, .action_c957d9, .previewListItem__4f725.selected__2d410, .channelAndRoleContainer-2-YAvB .container_e4c233.medium__2d9f3,
.channelRowLabel-3Y_t3O, .example__9c5a6, .channelPill_c6644a, .progressBar__02515, .actionItemEmojiWrapper__09da8, .resourceChannelIcon__35698, .channelRow__96673,
.separator_fdbcfd, .userProfileInnerThemedNonPremium__3d0a6 .note-3M15gE textarea:focus, .userProfileInnerThemedNonPremium__3d0a6 .note_ba0c31 textarea:focus, 
.theme-dark .focused_f9cf2c, .theme-dark.navRow-dG-XX8, .loginForm-3gN0jt .input_d266e7, .descriptionContainer__3814d, .avatarCard_edc99c, 
.inputForm-3RoxXV .inputWrapper__934f5.input-m1-Y7Q, .nameInput__2a6ec .inputWrapper__934f5, .theme-light .input_d266e7, 
.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker__5c474 .react-datepicker__day:hover, .container__52a36,
.integration_d2f026, .container__2c498, .row_fd1939:hover, .header__7133e, .card__7756d, .emptyContainer-1qMVs7 .circle-1g-jMn, .interactive__776ee:hover,
.wrapper__7bcde:hover .link__95dc0, .header_f71767 .container_e4c233, .addMemberRow_d14116.selectedRow__754b4, .termsFieldBody__96dcb, .profileCard_bd55ee, .prompt__1b100,
.memberRowContainer_f0d0e5:hover td, .bannedUser__38b44:hover, .emojiItem_b15dee.emojiItemSelected__1a09a, .name_b3f702 .input_d266e7, .form__13b4f .input_d266e7,
.theme-dark .previewCard_aef1ab, .options__83084 .input_d266e7, .input_d266e7, .role__631a3, .valuePill__9d21a, .table_e130b5, .activityItem__33da9, .users__65981, .iconWidget_db0821,
.setCustomButton__99e98, .buttonInner__2771e, .addReactButton__59750, .darkCardBackground__82a32, .childButton__832dc {
    background-color: var(--var-hover20);
}
.modalHeaderCustomGift_af2c51 {
    background: var(--var-hover20) !important;
}
.card-8UsK4b:hover {
    background-color: var(--var-hover22);
}

.optionContainer__5d0b1:hover, .categoryItemDefaultCategory__67fe7:hover, .categoryItemDefaultCategorySelected__8245a, .categoryItemDefaultCategorySelected__8245a:hover,
.navButtonActive_b003de, .side_b4b3f6 .themed_b957e8.item__48dda:active:not(.disabled__85bca), .option_be8b2e.focused_a2f507, .option_be8b2e:focus, .option_be8b2e:hover,
.container__99b06:hover, .theme-dark .container__99b06.isOpen__8593d, .lookFilled__19298.colorBrandNew_fd170a:active, .container_d5f6d0:active,
.backgroundModifierContainer__73a0a:active:not(.disabled__8b7eb):not(.noAction_aabf92), .collapseable__71e46:active, .clickable__2d589 .header__104ca:hover, 
.selected__0b1ad .header__104ca, .rowContainer__6f4c6:hover, .rowContainer__6f4c6:active, .listRow-Y5zoF8:hover, .colorable_c84c4c.primaryDark__6b700.active_ff29dc, 
.colorable_c84c4c.primaryDark__6b700:hover, .theme-dark .override-1sK4r0:hover, .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--selected:after,
.interactive__776ee:active, .wrapper__7bcde:active .link__95dc0m, .button_fb10b9:hover, .button__3ecb4, .navButtonActive__735cb, .setCustomButton__99e98:hover, 
.iconWidget_db0821:hover, .buttonInner__2771e:hover, .addReactButton__59750:hover, .childButton__832dc:hover {
    background-color: var(--var-hover25);
}
.optionButtonWrapper__4072c {
    border: 2px solid var(--var-hover25);
    transition: 50ms ease-in-out;
}
.clickableAction_bef9b9:hover .action_c957d9 {
    background-color: var(--var-hover30);
}
.close__1080c {
    color: var(--var-hover30);
}
.menu_dc52c6, .header__55964, .emojiPicker_b65ce9, .contentWrapper__321ed, .wrapper_fbbb73, .theme-dark .customColorPicker__3cb6a, .messageContainer_aa7d14, .footer_a3029c,
.popout_a6e77f, .menu_dc52c6, .wrapper_efe67f, .resultsList-2Bp-2_, .popout__24e32, .theme-dark .tierMarkerBackground-G8FoN4, 
.quickswitcher_a3d29a, .noiseCancellationPopout__06ec4, .container_c344de, .accountProfilePopoutWrapper_af829a .userProfileInner__8065b, .button_d553e5:hover,
.container__8261a, .theme-dark .streamPreview__1846c, .scroller_abc422, .theme-dark .quickSelectPopout_c0cf80, .container_d6dad3, .theme-dark .autocomplete_df266d, 
.body__59737, .wrapper-wOVKdL, .premiumSkuSelect-2K_31N, .container_ae7412, .wrapper_bd2abe.minimum_ebf000, .innerWrapper_c80bad, .resultsList-2tyWrf, 
.theme-dark.authBox__7196a, .callContainer_cbde45, .contentWrapper_eab878, .skuSelectModalHeader_a2b0d3, .skuSelectModalContent__16b0f, .modalHeader_e68db4, 
.scrollContainer__7562e .scroller__9a9ac, .popout__7a706, .popout__4c91f, .content__1b8a0, .bd-select .bd-select-options {
    background-color: var(--var-popout-color);
}
.legacySession__93c63 .sessionIcon__540be {
    background-color: var(--var-hover50);
}
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: rgb(16 53 103 / 90%);
}
.sessionIcon__540be, .clickableProgressBar__960fb:hover .progressBar__02515 {
    background-color: var(--var-hover80);
}
.close__1080c:hover {
    color: var(--var-hover80);
}
.progressBarContainer_f5600f .progressBarCurrent__44486, .clickableProgressBar__960fb:active .progressBar__02515 {
    background-color: var(--var-hover100);
}
.optionButtonWrapper__4072c:hover {
    border-color: var(--var-hover100);
    transition: 50ms ease-in-out;
}
.optionButtonWrapper__4072c.selected__90dd8 {
    background-color: var(--var-black1);
    border-color: var(--var-hover100);
}
.theme-dark .optionPill_f86b98 {
    background-color: var(--var-hover20);
    border-color: var(--var-hover30);
}
.checkCircle__28cd5 {
    color: var(--var-hover50)
}
.eventStatusBrand__948ce {
    color: var(--var-hover80);
}
.title__23c2d, .subtitle__89b16, .text__43e5f, .optionHeader_b6da7f, .footerTitle_ec7d67, .subtitle_a75f7f, .title_a58c92, .skip_f687eb, 
.footerSeparator__57d95 .button_afdfd9 .contents_fb6220, .subtitle__963da, .title_cba92b, .guidelines__7b1b1, .createGuild-2m1V10 .input_d266e7, .uploadIcon__6efce, 
.header_f45cbf .text-sm-normal_e612c7, .formTitle_ba6f05, .sampleLink__771c4, .title__92748, .rowText_e87737, 
.progressBarContainer_f5600f .text-xs-medium__220aa[style*="color: var(--text-brand);"], 
.addPrompt_d0c3a2 .plusIcon__5736c, .addPrompt_d0c3a2 .text-md-medium_b12de1[style*="color: var(--text-brand);"], .nameInput__2a6ec .label__5447e,
.container-2rCwVJ .search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz, .selectorText_b1d64c {
    color: #FFF !important;
}
.theme-light ::placeholder, .theme-light input, .theme-light select {
    color: #fff6;
    background-color: transparent;
}
.memberRowContainer_f0d0e5 {
    background-color: transparent !important;
}
.total_c01838:after {
    border-right-color: rgb(6 13 14);
}
.tabBar_a013ee .disabled__85bca.item__48dda, .tabBar_a013ee .disabled__85bca.item__48dda:hover {
    color: #b0b4ba8c;
}
.tabBar_a013ee {
    border-bottom: 2px solid transparent;
}
.top-K_jibn .brand_ce3ecf.item__48dda:hover {
    border-bottom-color: rgb(20 70 138);
}
.top-K_jibn .brand_ce3ecf.item__48dda:active, .top-K_jibn .brand_ce3ecf.selected__5711d.item__48dda {
    border-bottom-color: var(--var-accent);
}
.colorDefault__0b482 .checkbox__45366, .colorDefault__0b482 .radioSelection__5ed39 {
    color: var(--var-accent);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: var(--var-notification);
    border-color: var(--var-notification);
}
.searchBarContainer__2c0f8 .search__24107, .content__0dfdd .search__24107 {
    background-color: var(--var-black1) !important;
}
.searchBox_a63854:focus-within {
    border-color: var(--var-black2);
}
.container__1b27a {
    background-color: var(--var-black1);
    border: 1px solid var(--var-black1);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
    background-color: var(--var-notification);
    border-color: var(--button-outline-danger-border-hover);
    color: var(--button-outline-danger-text-hover);
}
.newBadge-3OVXIk[style*="background-color: var(--status-danger);"] {
    background-color: var(--var-notification) !important;
}
.lookOutlined__46d54.colorRed_d6b062, .lookOutlined__46d54.colorRed_d6b062:hover {
    border-color: var(--var-notification);
}
.top__592a7 .brand_ce3ecf.item__48dda:active, .top__592a7 .brand_ce3ecf.selected__5711d.item__48dda, .top__592a7 .brand_ce3ecf.item__48dda:hover {
    border-bottom-color: var(--var-accent);
}
.textBadge__45d79[style*="background-color: rgb(88, 101, 242);"] {
    background-color: var(--var-accent) !important;
}
.checkbox_c7f690[style*="border-color: var(--control-brand-foreground);"] {
    border-color: var(--var-accent) !important;
    background-color: var(--var-accent);
}
.promptContent__63c03 .overlay_ef4f80 {
    background: linear-gradient(to top, var(--var-black1), rgba(54, 57, 63, 0)) !important;
}
.sidebar_bdf6b7 {
    border-right: 1px solid transparent;
}
.checkbox_c7f690[style*="border-color: var(--control-brand-foreground);"] path {
    fill: #FFF;
}
.selectedPlan_ae5801 {
    border-color: var(--var-accent);
}
.liveQualityIndicator_e98ef7[style="background-color: rgb(78, 80, 88);"] {
    background-color: var(--var-accent) !important;
}
.backgroundOptionRing__1f209 {
    border: 2px solid var(--var-accent);
}
.theme-dark .notches__065e9.black__16fd6 {
    color: transparent;
    background-color: var(--var-hover20);
}
.selectionCircle_f4288e {
    box-shadow: inset 0 0 4px 3px #0e6682, inset 0 0 4px 4px #0e6682;
}
.divider_b9338f {
    border-top: none;
}
.reaction_b90ab0.reactionMe_bf6909 {
    border-color: #197ab5;
}
.container_a308ae {
    border: none;
    background-color: var(--var-black1);
}
.wrapper__6e669 {
    background-color: var(--var-black1);
    border: 1px solid var(--var-black1);
}
.cameraWrapper__1ee6d {
    background-color: var(--var-black1);
    border: 1px solid var(--var-black1);
}
.theme-dark .tooltipBrand__13fbc .tooltipPointer_a79354 {
    border-top-color: var(--var-accent);
}
.divider_a2339a {
   border-top: none; 
}
.placeholderCard__622e2 {
    border: 1px dashed var(--var-black1);
}
.divider_b9338f.isUnread__6f880 {
    border-top: 1px solid var(--var-notification);
    margin: 0 5px 0 70px;
}
.lookOutlined__46d54.colorPrimary__6ed40 {
    border-color: var(--var-accent);
}
.roleRow_c357d5:hover:not(.roleRowDisableHover__9fe35) {
    border-radius: 10px;
}
.soundButtonSettingContainer__548af {
    border-radius: 5px;
}
.rowBottomBorder-3HkIZv {
    border-bottom: 1px solid var(--var-hover20);
}
.closeIcon__448ee {
    color: var(--var-hover20);
}
.rowBottomBorder_adf3eb {
    border-bottom: 1px solid var(--var-hover20);
}
.theme-dark .default__3e2f5 {
    box-shadow: none;
}
.groupCollapsedContainer_d7de68 {
    border: none;
}
.collapseable__71e46:before, .editCard_dfa091:before {
    box-shadow: none;
}
.footerSeparator__57d95 {
    box-shadow: none !important;
}
.selectedIcon__4b0ba {
    color: var(--var-accent);
}
.container_d27846 {
    background-color: var(--var-popout-color);
    border: 1px solid var(--var-popout-color);
}
.theme-dark .pill_f055c3.selected_dc72d1 {
    border-color: var(--var-accent);
    background-color: var(--var-accent);
}
.triggerMainContainer_c5139b .keywordsTextArea_d5eadb, .triggerMainContainer_c5139b .textArea__3f404 {
    background: var(--var-black1);
    border: 1px solid var(--var-black1);
}
.addAnotherRuleCardContainer__5425d {
    border: 2px dashed var(--var-black1);
}
.theme-dark .checkbox_c7f690[style*="border-color: var(--brand-experiment-400); background-color: var(--brand-experiment-500);"] {
    background-color: var(--var-accent) !important;
    border-color: var(--var-accent) !important;
}
.lookOutlined__46d54.colorPrimary__6ed40:hover {
    background-color: var(--var-accent);
    border-color: var(--var-accent);
    transform: translateY(-1px);
}
.lookOutlined__46d54.colorPrimary__6ed40:active {
    background-color: var(--var-accent);
    border-color: var(--var-accent);
    transform: translateY(1px);
}
.lookFilled__19298.colorGreen__5f181:hover {
    transform: translateY(-1px);
}
.lookFilled__19298.colorGreen__5f181:active {
    transform: translateY(1px);
}
.listing__667f3:not(:last-child):not(:hover) .listingDetails__06de9 {
    border-bottom: 1px solid transparent;
}
.unreadPillCapStroke__12c0b {
    color: var(--var-notification);
    fill: var(--var-notification);
}
.numberBadge__50328 {
    background-color: var(--var-notification) !important;
}
.headerContent__57da2, .headerSidebar__01bcf, .separator_bd8f6b {
    border-bottom: none;
}
.isUnread__6f880 .content_d67847 {
    color: var(--text-muted);
}
.bd-select {
    background-color: var(--var-black1);
    border: 1px solid transparent;
}
.bd-select .bd-select-option:hover {
    background-color: var(--var-popout-color);
}
.bd-select .bd-select-option.selected, .theme-dark .popoutList_db80c1, .theme-dark .addGamePopout_e4ca8f {
    background-color: var(--var-popout-color);
}
.card__86773 .wrapper_c727b6 {
    background-color: #000000;
    border-radius: 4px;
}
.lookFilled__3dba3.select__0eb48 {
    background-color: var(--var-black1);
    border-color: transparent;
}
.select__0eb48.searchable__01c88.open_cd27aa.lookFilled__3dba3 {
    background-color: var(--var-black2);
    border-color: var(--var-black1);
}
.theme-dark .root_a28985, .container__23c08, .container__20de0, .messagesPopoutWrap_b3b384 {
    background-color: var(--var-popout-color);
    border-radius: 10px;
}
.friendRequestsButton_f19806 .numberBadge__50328 {
    background-color: transparent !important;
}
.newPostsButton-UaBhcU {
    background-color: rgb(27 79 88);
    border: 1px solid rgb(27 79 88);
}
.modalHeader-gQTY3L {
    background-image: none;
}
.example__5d01c {
    border: 2px solid var(--var-black1);
}
.addActionItem__209df {
    border: 2px dashed var(--var-black1);
}
.header__60bef {
    border-radius: 10px 0 0 0;
}
.chat__52833 .header_c43d51 {
    border-radius: 10px 0 0 10px;
}
.checkbox__9abca.selected__2d410 {
    background-color: var(--var-accent);
    border: 2px solid var(--var-accent);
}
.header-16U6Vf {
    background: center 15%/90% auto url(/assets/69dacfb….svg) no-repeat;
}
.premiumBackground__4ce97, .premiumFeatureBorder__9bbb3 {
    background: var(--var-black1);
}
.theme-dark .combo__57290 .key__06fe6 {
    box-shadow: inset 0 -4px 0 var(--var-black1);
}
.theme-dark .notches__065e9.gray__4fb3f rect {
    fill: transparent;
}
.calendarPicker__5c474 .react-datepicker__day {
    border-top: 1px solid var(--var-black1);
    border-left: 1px solid var(--var-black1);
}
.container__74da1 .root__3594f path {
    fill: none;
}
.theme-dark .game__19f4b .gameNameInput_e25dd8:hover, .theme-dark .gameNameInput_e25dd8:focus {
    border-color: var(--var-black1);
    background-color: var(--var-black1);
}
/* Coloring END */

/* loading circle START*/
@keyframes loading {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}
.inner_ea0cea:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    border-top: 4px solid rgba(255, 255, 255, .2);
    border-right: 4px solid rgba(255, 255, 255, .2);
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    border-left: 4px solid #fff;
    width: 26px;
    height: 26px;
    animation: loading 1s infinite linear;
    top: 3px;
}
.inner_ea0cea {
    border-radius: 50px;
}
.wanderingCubes_ce37c6 .item__0e5d6 {
    display: none;
}
.inner_ea0cea.pulsingEllipsis_f679bb .item__0e5d6 {
    display: none;
}
.circular__36661 {
    display: none;
}
.spinner_f931ee {
    position: relative;
    top: calc(12% - 0px);
}
.loadingPopout-1feYe_ {
    background-color: transparent;
}
.searchHeader__19d87 .inner_ea0cea:not(.pulsingEllipsis-3YiXRF) {
    width: 8px;
    height: 8px;
}
.imageLoadingOverlay_fbe6d9 .inner_ea0cea:not(.pulsingEllipsis-3YiXRF) {
    width: 8px;
    height: 8px;
}
.imageLoadingOverlay_fbe6d9 {
    background-color: transparent;
}
/* loading circle END*/

/* Button changes */
.lookFilled__19298.colorBrand_b2253e:hover, .lookFilled__19298.colorPrimary__6ed40:hover {
    background-color: var(--var-accent);
    transform: translateY(-1px);
}
.lookFilled__19298.colorBrand_b2253e:active, .lookFilled__19298.colorPrimary__6ed40:active {
    background-color: var(--var-accent);
    transform: translateY(1px);
}
/* Button changes END */

/* Boost/Nitro unlocks Page */
.scroller__439a2[style*='overflow: hidden scroll;'] {
    overflow: overlay !important;
}
.scroller__439a2.auto__76cc7.scrollerBase__2b744 {
    margin-top: 22px;
    background: transparent;
}
.header__4f442 {
    background: transparent;
}
.headerWave_e4fdee {
    color: transparent;
}
.tierCard_f6953a, .tierCardCurrentTier_df8c32, .recommendedTierHighlightTag-2Vgifo {
    background-image: linear-gradient(45deg, var(--var-black1),var(--var-black1));
}
.bodyWave__62812 path {
    fill: transparent !important;
}
.booleanValueIcon__864e1 path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
    color: var(--var-hover30);
}
.list-1PXS_1 {
    border-top: 1px solid var(--var-hover20);
}
.listItem-25TTJR {
    border-bottom: 1px solid var(--var-hover20);
}
.recommendedTierHighlight-1V298h:after, .recommendedTierHighlight-1V298h:before {
    border-color: var(--var-black1);
}
.closeIcon-3QPUAe {
    right: -50px;
}
.premiumContainer__2ebd0 .root-1F1IKT path {
    display: none;
}
.wrapper__26ed7 {
    background: var(--var-black1);
}
.card__67edb {
    background-color: var(--var-black2);
}
/* Pannel changes */
.theme-dark .children__32014:after, .theme-dark .form__13a2c:before {
    background: transparent;
}
.theme-dark .container__590e2, .privateChannels__93473, .sidebar_ded4b5 .panels__58331, .container_ca50b9, .activityPanel__22355, 
.container_d667ff, .clickable__2d589 .header__104ca:hover, .selected__0b1ad .header__104ca, .header__104ca {
    border-radius: 10px 10px 10px 10px;
}
.messageGroupWrapper_f8c6e9 {
    border: 0;
}
.jumpButton__0329d {
    margin-right: -5px;
    margin-top: 10px;
    margin-left: 6px;
    background-color: var(--var-black1);
}
.banner_f13f1e {
    padding: 5px 8px 5px 8px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.container__5c7e7 .themed_b152d4, .containerSidenav__2623a .themed_b152d4, .shop_b31ed2 .theme-dark.themed_b152d4 {
    border-radius: 10px 0px 0px 10px;
}
.containerSidenav__2623a {
    border-radius: 0;
}
.clickable__2d589 .header__104ca:hover, .selected__0b1ad .header__104ca, .header__104ca {
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
}
.homeWrapperNormal__6f127 .headerBar_afb1ac {
    border-radius: 10px 0 0 10px;
}
.tabBody_b3d268:before, .searchBar_e4ea2a, .headerBar_afb1ac:before {
    box-shadow: none;
}
.header__63c59 {
    margin-left: -15px;
    padding: 20px 12px 16px;
    margin-right: -15px;
    background-color: var(--var-popout-color);
    border-radius: 10px;
}
.previewContainer_d2b616 .theme-dark .messageContainer__18275 {
    background-color: var(--var-accent);
}
.previewContainer_d2b616 .theme-light .messageContainer__18275 {
    background-color: var(--var-hover20);
}
.previewContainer_d2b616 .theme-light .markup_a7e664 {
    color: rgb(193 198 201);
}
.contentContainer__23092 {
    margin-top: 45px;
}
.previewContainer_d2b616 {
    border: 1px solid var(--var-black1);
}
.wrapper_bd2abe.noChat_ce920d .callContainer_cbde45 {
    height: 100%;
}
.wrapper_bd2abe.noChat_ce920d {
    height: 100%;
    margin-bottom: 20px;
}
.callContainer_cbde45, .wrapper_bd2abe {
    border-radius: 10px 0 0 10px;
}
.wrapper_bd2abe.chatSidebarOpen_dfaa6a .callContainer_cbde45 {
    border-radius: 10px 10px 10px 10px;
}
.container_def45c {
    height: 100%;
}
.bar__8f42e {
    background-color: var(--var-black1);
    border-radius: 10px 10px 0 0;
}
.form__13a2c .base__512ed {
    position: absolute;
    left: 10px;
    top: -22px;
}
.content__4bf10 .sidebar_ded4b5 {
    border-radius: 10px;
    margin-right: 5px;
    height: 100%;
}
.chat__52833 {
    border-radius: 0px 0px 0px 10px;
}
.container__037ed {
    height: 98.6%;
}
.peopleColumn__51df3, .nowPlayingColumn_f5023f {
    height: 100%;
}
.sidebar_ded4b5 .panels__58331 {
    margin-top: 10px;
}
.content__1a4fe:before {
    display: none;
}
.guilds__2b93a {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
}
.form__13a2c {
    padding-left: 0;
}
.main__58b77 {
    border-radius: 10px 0 0 10px;
}
.channelTextArea__2e60f, .wrapper_fbbb73 {
    margin-bottom: 0px;
    border-radius: 8px;
}
.jump_d5b765 {
    top: 5px;
}
.scroller__00e7e {
    border-left: none;
}
.option_a0c054:hover {
    opacity: .7;
}
.selected_ea51d6.option_a0c054 {
    box-shadow: none !important;
    background-color: var(--var-accent);
    opacity: 1;
}
.peopleListItem_d14722 {
    border-top: none;
}
.notice__5fd4c {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.notice__5fd4c .button__587bd.backButton__68478.button_afdfd9.lookOutlined__46d54.colorWhite__43488.grow__4c8a4 {
    left: 8px;
}
.channelTextArea__2e60f .scrollableContainer__33e06 {
    scrollbar-width: none;
    padding-top: 4px;
    padding-bottom: 4px;
}
.scrollerSpacer__9cd32 {
    height: 15px;
}
.scroller__1f96e {
    bottom: 30px;
}
.content__1a4fe {
    gap: 5px;
}
.form__13a2c {
    padding: 0;
}
.membersWrap__90226:before, .profilePanel__12596:before, .searchResultsWrap__9f374:before {
    content: "";
    position: absolute;
    top: -48px;
    width: 100%;
    height: 48px;
    border-radius: 10px 0 0 0;
    background-color: var(--var-black1);
}
.outerContainer-2qLQSo:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--var-black1);
}
.content__1a4fe .chatContent__5dca8:before, .container_b181b6:before {
    content: "";
    position: absolute;
    top: -48px;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: var(--var-black1);
}
.content__1a4fe:not(:has(.profilePanel__12596)):not(:has(.membersWrap__90226)):not(:has(.searchResultsWrap__9f374)) .chatContent__5dca8:before, .content__1a4fe:not(:has(.container_b2ce9c)) .container_b181b6:before {
    border-radius: 10px 0 0 10px;
}
.chat__52833.threadSidebarOpen_fa231d .container_b181b6:before {
    border-radius: 10px;
}
.profilePanel__12596 {
    width: 240px;
    height: 100%;
    background: transparent;
}
.container_b2ce9c .membersWrap__90226, .member_b44d5d, .members__9f47b, .membersWrap__90226 .members__9f47b {
    background-color: transparent;
}
.membersWrap__90226 {
    background: var(--var-black1);
    border-radius: 0 0 0 10px;
    height: 100%;
}
.profilePanel__12596 .userProfileOuterUnthemed__48723 {
    background: var(--var-black1);
    border-radius: 0 0 0 10px;
}
.profilePanel__12596 .userProfileOuterThemed__6eb84, .profilePanel__12596 .userPanelInnerThemed__1804b {
    border-radius: 0 0 0 10px;
}
.membersWrap__90226 .members__9f47b, .container_b2ce9c {
    height: 100%;
    border-radius: 0 0 0 10px;
}
.searchResultsWrap__9f374 {
    background-color: var(--var-black1);
    height: 100%;
    border-radius: 0 0 0 10px;
    overflow: visible;
}
.search__07df0 {
    margin: 0px 0px 0 10px;
    order: 1;
}
.container_b2ce9c .membersWrap__90226 {
    height: 100%;
}
.content__1a4fe .userPanelInnerThemed__1804b {
    background: transparent;
}
.focused_ddee54 .searchBar_e0c60b, .open_d3ab4e .searchBar_e0c60b {
    width: 144px;
}
.chat__52833:has(.searchResultsWrap__9f374) .searchBar_e0c60b {
    width: 200px;
}
.header__6113c {
    background-color: var(--var-black1);
    position: relative;
    top: 5px;
    border-radius: 10px;
}
.scroller__1c703 {
    padding: 0 0 0 8px !important;
}
.channelHeader__5d30c {
    padding-left: 25px;
    padding-right: 10px;
}
.collapseButton_b18eab {
    left: 0px;
}
.messages_f7999e {
    background-color: transparent;
    border-radius: 0;
    padding: 5px 0 0 0;
}
.divider__2bbbc {
    border-top: 0 !important;
}
.container__56e52 {
    padding-right: 0;
    padding-left: 8px;
}
.scroller__1c703 .jumpButton_da1ebb {
    margin-right: 3px;
}
.forumPost__0c88c {
    background-color: var(--var-hover20);
    border-radius: 10px;
    margin: 10px 0 10px;
}
.theme-dark .game__19f4b {
    box-shadow: none;
}
.discoverHeader_fae7fd {
    background: var(--var-black1);
    padding: 16px 0 16px 16px;
    margin: 2px 0px 10px 0px;
    border-radius: 10px;
}
/* Full screen FIX */
.layer__2efaa:has(.hidden__7c832) {
    top: -22px;
    left: -15px;
    bottom: -15px;
}
.layer__2efaa:has(.hidden__7c832) .wrapper_bd2abe {
    border-radius: 0;
}
/* Nitro Theme Preview & App Icon Preview*/
.themeEditor__6df21, .editor_e77931 {
    background: var(--var-black1);
    border-left: 5px solid transparent;
}
/* Friends, Nitro and Public server buttons start */
.container__8759a[aria-posinset="1"], .container__8759a[aria-posinset="2"] {
    display: inline-block;
    width: 108px;
}
.container__8759a[aria-posinset="1"] .content_f767b8 {
    position: absolute;
    top: 31px;
    left: 29px;
}
.container__8759a[aria-posinset="1"] .interactive_a868bc, .container__8759a[aria-posinset="2"] .interactive_a868bc {
    transition: 150ms ease;
    padding-bottom: 12px;
    padding-right: 0;
}
.container__8759a[aria-posinset="1"] .avatar__7bd22, .container__8759a[aria-posinset="2"] .avatar__7bd22 {
    left: 27px;
    top: -5px;
    position: relative;
}
.container__8759a[aria-posinset="2"] {
    position: absolute;
    top: 8px;
    right: 0;
}
.container__8759a[aria-posinset="2"] .content_f767b8 {
    position: absolute;
    top: 31px;
    left: 36px;
}
/* Number Badge */
.container__8759a[aria-posinset="1"] .interactive_a868bc .numberBadge__50328 {
    position: absolute;
    left: 82px;
    top: 33px;
}
/* Nitro Promotion/Trial badge */
.container__8759a[aria-posinset="2"] .interactive_a868bc .premiumTrialBadge_f2180d {
    position: relative;
    height: 18px;
    top: -7px;
    left: -24px;
    bottom: 3px;
    padding-left: 15px;
    padding-right: 12px;
    color: var(--header-secondary);
    border-radius: 3px 3px 0 0;
    transform: translateY(-28px);
    transition: 150ms ease;
}
.container__8759a[aria-posinset="2"] .interactive_a868bc:hover .premiumTrialBadge_f2180d {
    color: #eeeff0;
    border-radius: 3px 3px 0 0;
    transform: translateY(0px);
    transition: 150ms ease-out;
}
.container__8759a[aria-posinset="2"] .interactive_a868bc .premiumTrialAcknowledgedBadge_b69948 {
    padding-left: 6px;
    padding-right: 7px;
    top: -8px;
    background-color: var(--var-popout-color);
}
/* Snowgiving button */
.snowsgivingLink-1TZi3c {
    position: relative;
    width: 224px;
    z-index: 1;
    padding: 1px 0;
    border-radius: 4px;
    max-width: 224px;
    margin-left: 8px;
}
.snowsgivingIcon-3d0pr1 {
    margin-left: 12px;
}
.snowsgivingLink-1TZi3c:hover {
    transition: 150ms ease-out;
}
/* Public server button And list */
.link__2e8e1[data-list-item-id="public-servers"] .content_f767b8 {
    position: initial;
    left: 0;
    top: 0;
}
.link__2e8e1[data-list-item-id="public-servers"] .avatar__7bd22 {
    left: 0;
    top: 0;
}
.container__8759a[aria-posinset="2"]:nth-child(4) {
    position: relative;
    display: block;
    width: 224px;
    height: 44px;
    top: 0;
}
.channel_c21703:nth-child(5) {
    top: 0;
    padding: 1px 0;
}
.container__8759a[aria-posinset="2"]:nth-child(4) .interactive_a868bc {
    padding-bottom: 0;
}
/* Friends, Nitro and Public server buttons END */
/*Friends Online/All/Pending/Blocked And Add Friend*/
.tabBar__73938 .item_e4ca95 {
    border-bottom: none!important;
    position: relative;
    padding: 2px 12px;
    transition: 300ms ease;
    display: inline-flex;
    font-size: 15px;
    color: #b5b5b5;
    box-sizing: border-box;
    border-radius: 0;
}
.tabBar__73938 .item_e4ca95:after {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    background: #b5b5b5;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    border-radius: 3px;
    transform-origin: bottom;
}
.tabBar__73938 .item_e4ca95.selected__5711d:after {
    transition: 180ms cubic-bezier(0,0,0,1),opacity 1ms ease;
    transform: scale(1,1);
    transform-origin: bottom;
}
.tabBar__73938 .item_e4ca95.selected__5711d ~ .item_e4ca95:after {    
    transform: translate(-80px) scale(2.5,1);
    transition: 180ms cubic-bezier(1,0,0,0.7),opacity 100ms;
    opacity: 0;
}
.tabBar__73938 .item_e4ca95:not(.selected__5711d)::after {
    transform: translate(80px) scale(2.5,1);
    transition: 180ms cubic-bezier(1,0,0,0.7),opacity 100ms;
    opacity: 0;
}
.side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__85bca), .topPill__0cdf1 .themed_b957e8.item__48dda:hover:not(.disabled__85bca) {
    transition: 100ms ease-out;
    background-color: transparent;
    color: #FFF !important;
}
.tabBar__73938 .item_e4ca95.selected__5711d {
    background-color: transparent !important;
    color: #FFF;
}
.tabBar__73938 .item_e4ca95[aria-label="Add Friend"], .tabBar__73938 .item_e4ca95:nth-child(5) {
    background-color: transparent !important;
    color: #B5B5B6 !important;
}
.tabBar__73938 .item_e4ca95.addFriend__80542[aria-selected="true"] {
    color: #FFF !important;
}
.tabBar__73938 .item_e4ca95.addFriend__80542[aria-selected="true"]:after {
    background: var(--status-positive-background);
    opacity: .6;
    z-index: -1;
}
.addFriendInputWrapper__4bf8e .addFriendInput__568d8 .input_d5574d {
    background-color: transparent;
}
/* Sliders */
.container__871ba:not(.checked__6bdb0) {
    /*full off*/
    background-color: var(--var-hover20) !important;
}
.container__871ba.checked__6bdb0 {
    /*full on*/
    background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
}
.slider__41d94 path, .bd-switch .bd-switch-symbol path {
    fill: transparent !important;
}
/* BD Sliders */
.bd-switch-body {
    --switch-color: var(--var-hover20) !important;
    transition: 100ms ease;
}
.bd-switch input:checked+.bd-switch-body {
    background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
    transition: 100ms ease;
}
/* Sliders END*/
/* Home Icon */
.tutorialContainer__890ea .wrapper_d281dd {
    background-color: #fff;
    opacity: .5;
    -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjwh%0D%0ARE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cu%0D%0AdzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4x%0D%0AIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4%0D%0AbGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRo%0D%0APSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZW5hYmxlLWJhY2tncm91%0D%0AbmQ9Im5ldyAwIDAgNjQgNjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgPGltYWdlIGlkPSJpbWFn%0D%0AZTAiIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgeD0iMCIgeT0iMCIKICAgIHhsaW5rOmhyZWY9ImRh%0D%0AdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBRUFBQUFCQUNBUUFB%0D%0AQUFBWUxsVkFBQUFCR2RCVFVFQUFMR1BDL3hoQlFBQUFDQmpTRkpOCkFBQjZKZ0FBZ0lRQUFQb0FB%0D%0AQUNBNkFBQWRUQUFBT3BnQUFBNm1BQUFGM0NjdWxFOEFBQUFBbUpMUjBRQS80ZVB6TDhBQUFBSmNF%0D%0AaFoKY3dBQUN4TUFBQXNUQVFDYW5CZ0FBQUFIZEVsTlJRZmpEQlFMR1JtMXNRQjhBQUFCQkVsRVFW%0D%0AUm8zdTNaMFE2Q01BeUZZYmJ3L3E5YwpyMENCYmp1blhTSEU3b0xvTnZKL0toY0dpaXpQanZwd1B3%0D%0ASHZCOGppdklwOUFQazVQZ0FRNWRXTkFPbTh1d0Vnd0V3Z1FJalpBSUFZClZpWUNqcEd5RkIrQkJa%0D%0AenozNk9Sd0FHMHZKUEFBRnA1RndFSDlQSU9BZ29ZNWMwRURJRGtqUVFFZ09aTmhER0F5UnNJSXdD%0D%0AYnB3bDkKZ0NWUEVub0FhNTRpdEFHZVBFRm9BYng1bUtBRFp1UkJnZ2FZbFljSVY4RE1QRUE0QTJi%0D%0Abmg0VGFXd3dhaDBwdExkeEZXT244YUIvMgpzOG0ycjVJbnpocDdyU3FUY1JTbFVDOGJZcitKUzJG%0D%0AVk5uQ2ZaaHZvTlhRNjcvVTNLQktRZ0FRa0lBRUplRDlnN2E1YS9xYUczcVlMCkdBa28rZHd3QVFu%0D%0ANGU4QUgwMW8rZXE1eHo3c0FBQUFsZEVWWWRHUmhkR1U2WTNKbFlYUmxBREl3TVRrdE1USXRNakJV%0D%0ATVRFNk1qVTYKTWpVck1ETTZNRER0aVgwOUFBQUFKWFJGV0hSa1lYUmxPbTF2WkdsbWVRQXlNREU1%0D%0ATFRFeUxUSXdWREV4T2pJMU9qSTFLekF6T2pBdwpuTlRGZ1FBQUFBQkpSVTVFcmtKZ2dnPT0iIC8+%0D%0ACjwvc3ZnPgo=);
    width: 100%;
    height: 100%;
    -webkit-mask-size: 28px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all 100ms ease;
}
.tutorialContainer__890ea .listItem_fa7b36:first-child .childWrapper__01b9c {
    background-color: transparent;
}
.tutorialContainer__890ea .wrapper_d281dd rect {
    display: none;
}
.tutorialContainer__890ea .wrapper_d281dd {
    opacity: .5;
    transition: all 100ms ease;
}
.tutorialContainer__890ea .wrapper_d281dd:hover, .tutorialContainer__890ea .wrapper_d281dd.selected_f5ec8e {
    opacity: 1;
    transition: all 100ms ease;
}
.scroller__3d071:not(.foldercontent) .tutorialContainer__890ea .listItem_fa7b36:first-child .pill_d1140c {
    display: none;
}
.scroller__3d071:not(.foldercontent) > .tutorialContainer__890ea {
    position: fixed;
    display: flex;
    margin: 0;
    margin-bottom: 5px;
    height: 48px;
    width: 72px;
    transform: translate(0%, -100%);
    border-radius: 10px 10px 0 0;
    background-color: var(--var-black1);
    z-index: 1;
}
.scroller__3d071:not(.foldercontent) > .tutorialContainer__890ea .lowerBadge__669e7 {
    bottom: 28px;
    right: 0px;
}
.wrapper_a7e7a8 .scroller__3d071 {
    padding-top: 0px;
    margin-top: 48px;
}
.unreadMentionsIndicatorTop_ada847 {
    top: 42px;
}
/* User popouts */
.userProfileInnerThemedNonPremium__3d0a6 .role__631a3 {
    background-color: var(--var-hover20);
}
.userProfileInnerThemedNonPremium__3d0a6 {
    background: var(--var-popout-color);
}
.userProfileInnerThemedNonPremium__3d0a6 .overlayBackground__86b78 {
    background-color: var(--var-black1);
}
.userProfileInnerThemedNonPremium__3d0a6 .menu__5cf7f {
    background-color: transparent;
}
.userProfileInnerThemedNonPremium__3d0a6 .badgeList-2aoHPw {
    background-color: var(--var-hover20);
}
/* Notice */
.notice__5fd4c {
    height: 48px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}
.bd-notice {
    height: 48px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    border-radius: 0 !important;
}
.bd-notice-button {
    top: 0;
}
.bd-notice-close {
    top: 4px;
    right: 34px;
}
.notice-2olXi7 {
    background-color: var(--mbd-notification);
}
.closeButton_ffc97a {
    top: 5px;
    right: 24px;
}
.button__57d93 {
    top: 0;
}
/* BD setting changes */
.bd-setting-divider {
    border-bottom: none;
}
.bd-settings-group.collapsible .bd-settings-title::before {
    background-color: var(--var-black1);
}
.bd-number-input {
    background-color: var(--var-black1);
}
.bd-filled-checkmark {
    background: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
}
.bd-empty-updates svg  {
    fill: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
}
.bd-button.bd-button-danger {
    background-color: var(--var-notification);
}
.bd-addon-views .bd-view-button.selected {
    background-color: var(--var-accent);
}
.bd-addon-views .bd-view-button:hover {
    background-color: var(--var-black1);
}
.controls-section .checkbox-inner {
    top: -2px;
    position: relative;
}
.checkbox-item {
    margin-right: 10px;
}
.bd-modal-root {
    background-color: var(--var-accent);
}
.bd-modal-footer {
    border-radius: 0 0 3px 3px;
    background-color: var(--var-black2);
}
/*BD Addon button */
.bd-button-filled.bd-button-color-red {
    background-color: var(--var-notification);
}
.bd-button-filled.bd-button-color-brand,  .bd-button-filled.bd-button-color-brand:hover, .bd-button-filled.bd-button-color-brand:active {
    background-color: var(--var-accent);
}
.bd-button-filled.bd-button-color-brand:hover, .bd-button-filled.bd-button-color-red:hover {
    transform: translateY(-1px);
}
.bd-button-filled.bd-button-color-brand:active, .bd-button-filled.bd-button-color-red:active {
    transform: translateY(1px);
}
.bd-button-filled.bd-button-color-brand:disabled, .bd-button-filled.bd-button-color-brand:disabled:hover, .bd-button-filled.bd-button-color-brand:disabled:active {
    background-color: var(--var-black2);
}

/*BD BASIC button */
.bd-controls-basic .bd-button:hover {
    background-color: var(--var-black1);
    transform: translateY(-1px);
}
.bd-controls-basic .bd-button:active {
    background-color: var(--var-accent);
    transform: translateY(1px);
}

/* BD Blank Button*/
.bd-button-blank, .bd-button-blank:hover {
    background-color: transparent;
}
/* BD toast */
.bd-toast {
    background-color: var(--var-popout-color);
}